In [1]:
xyz = []
for i in range(1,100):
    xyz.append(i)
xyz

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [2]:
total = 0
for i in range(1, 101):
    total += i
print(total)

5050

In [3]:
totals = 0
for i in range(1, 5):
    totals += i
print(totals)

10

In [4]:
numbers = [1,2,3,4,5]
for num in numbers:
    print(num * 2)

2
4
6
8
10

In [5]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i * j:4}", end = '')
    print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

In [6]:
squares = []
for i in range(1, 11):
    squares.append(i ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
ages = {'Alice': 25, 'Bob': 30, 'Charlie': 35, 'Aman': 46, 'Kushal': 12, 'Justin': 65}
for name, age in ages.items():
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old
Aman is 46 years old
Kushal is 12 years old
Justin is 65 years old

In [8]:
data = [
    ['Name', 'Age', 'City'],
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angles'],
    ['Charlie', 35, 'Chicago']
]
for row in data:
    print(', '.join(map(str, row)))

Name, Age, City
Alice, 25, New York
Bob, 30, Los Angles
Charlie, 35, Chicago

In [9]:
numbers = [1,2,3,4,5,6,7,8,9,10]
evens = []
for num in numbers:
    if num % 2 == 0:
        evens.append(num)
print(evens)

[2, 4, 6, 8, 10]

In [10]:
records = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 65},
    {'name': 'Charlie', 'age': 23},
    {'name': 'Bhishma', 'age': 2000},
    {'name': 'Chhava', 'age': 35},
    {'name': 'Vicky', 'age': 34}
]
transformed = []
for record in records:
    transformed.append((record['name'], record['age']))
print(transformed)

[('Alice', 25), ('Bob', 65), ('Charlie', 23), ('Bhishma', 2000), ('Chhava', 35), ('Vicky', 34)]

In [11]:
logs = [
    "INFO: User logged in",
    "ERROR: Failed to load resource",
    "WARNING:Low disk space",
    "INFO: User Logged Out",
    "ERROR: User not found"
]

log_counts = {'INFO':0, 'ERROR':0, 'WARNING':0}
for log in logs:
    level = log.split(':')[0]
    if level in log_counts:
        log_counts[level]+=1

print(log_counts)

{'INFO': 2, 'ERROR': 2, 'WARNING': 1}

In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [13]:
data = pd.read_csv("/home/gautam/airflow/Linear-regression-2/data.csv")

In [14]:
housing = pd.read_csv("/home/gautam/airflow/Linear-regression-2/housing.csv")

In [15]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [16]:
filtered_employees = data[(data['YearsExperience'] > 5) & (data['Salary'] > 60000)]

In [17]:
count_employees = filtered_employees.shape[0]

In [18]:
print(f'Number of employees with more than 5 years experience earning more than 60000: {count_employees}')

Number of employees with more than 5 years experience earning more than 60000: 14

In [19]:
filtered_employees = data[(data['Salary'] >= 50000) & (data['Salary'] <= 80000)]

count_employees = filtered_employees.shape[0]

print(f'Number of employees earning between 50000 and 80000: {count_employees}')

Number of employees earning between 50000 and 80000: 12

In [20]:
count_houses_with_2_floors = (housing['floors'] == 2).sum()

print(f'Number of houses with 2 floors: {count_houses_with_2_floors}')

Number of houses with 2 floors: 8241

In [21]:
housing

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [22]:
count_houses_before_1960_waterfront = housing[(housing['yr_built'] < 1960) & (housing['waterfront'] == 1)].shape[0]

In [23]:
count_houses_before_1960_waterfront

80

In [24]:
houses_with_more_than_4_bathrooms = housing[housing['bathrooms'] > 4]

# Find the price of the most expensive house
most_expensive_house_price = houses_with_more_than_4_bathrooms['price'].max()

print(f'The price of the most expensive house with more than 4 bathrooms: {most_expensive_house_price}')

The price of the most expensive house with more than 4 bathrooms: 7700000

In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
census_income = pd.read_csv("/home/gautam/airflow/logistic-regression-2/census-income .csv")

In [27]:
census_income

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [28]:
column_names_keys = census_income.keys()

In [29]:
column_names_keys

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'annual_income'],
      dtype='object')

In [30]:
census_income['occupation'] = census_income['occupation'].replace('?', pd.NA)

# Count unique occupations (excluding NaN)
num_unique_occupations = census_income['occupation'].nunique(dropna=True)

print(num_unique_occupations)

14

In [31]:
census_income.replace('?', pd.NA, inplace=True)

# Filter for "Tech-support" occupation and income > 50K
tech_support_high_income = census_income[(census_income['occupation'] == 'Tech-support') & (census_income['annual_income'] == '>50K')]

# Count the number of people
num_people = tech_support_high_income.shape[0]

print(num_people)

283

In [32]:
census_income['occupation'] = census_income['occupation'].str.strip().str.lower()
census_income['annual_income'] = census_income['annual_income'].str.strip()

In [33]:
census_income.replace('?', pd.NA, inplace=True)

# Count total missing values
total_missing_values = census_income.isna().sum().sum()

print(total_missing_values)

4262

In [34]:
census_income.replace('?', pd.NA, inplace=True)

# Filter the dataset
private_non_usa = census_income[(census_income['workclass'] == 'Private') & (census_income['native-country'] != 'United-States')]

# Count the number of people
num_people = private_non_usa.shape[0]

print(num_people)

2561

In [35]:
total_missing_values = census_income.isnull().sum().sum()

print(f'Total missing values in the dataset: {total_missing_values}')

Total missing values in the dataset: 4262

In [36]:
census_income

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [37]:
private_non_us = census_income[(census_income['workclass'] == 'Private') & (census_income['native-country'] != 'United-States')]

# Count the number of such individuals
count_private_non_us = private_non_us.shape[0]

print(f'Number of people with private work classes and not from the United States: {count_private_non_us}')

Number of people with private work classes and not from the United States: 2561

In [38]:
# Replace '?' with NaN
census_income.replace('?', pd.NA, inplace=True)

# Standardize text columns (strip spaces & convert to lowercase)
census_income['workclass'] = census_income['workclass'].str.strip().str.lower()
census_income['native-country'] = census_income['native-country'].str.strip().str.lower()

# Filter for 'private' workclass and NOT from 'united-states'
private_non_usa = census_income[(census_income['workclass'] == 'private') & 
                                (census_income['native-country'] != 'united-states')]

# Get the total count
num_people = private_non_usa.shape[0]

# Print result
print("Total people with private workclass not from the USA:", num_people)

# Optional: Check unique values to verify data consistency
print("\nUnique values in 'workclass':", census_income['workclass'].unique())
print("\nUnique values in 'native-country':", census_income['native-country'].unique())

Total people with private workclass not from the USA: 2561

Unique values in 'workclass': ['state-gov' 'self-emp-not-inc' 'private' 'federal-gov' 'local-gov' <NA>
 'self-emp-inc' 'without-pay' 'never-worked']

Unique values in 'native-country': ['united-states' 'cuba' 'jamaica' 'india' <NA> 'mexico' 'south'
 'puerto-rico' 'honduras' 'england' 'canada' 'germany' 'iran'
 'philippines' 'italy' 'poland' 'columbia' 'cambodia' 'thailand' 'ecuador'
 'laos' 'taiwan' 'haiti' 'portugal' 'dominican-republic' 'el-salvador'
 'france' 'guatemala' 'china' 'japan' 'yugoslavia' 'peru'
 'outlying-us(guam-usvi-etc)' 'scotland' 'trinadad&tobago' 'greece'
 'nicaragua' 'vietnam' 'hong' 'ireland' 'hungary' 'holand-netherlands']

In [39]:
import pandas as pd

# Replace '?' with NaN (if not already done)
census_income.replace('?', pd.NA, inplace=True)

# Apply the filter for either annual income <=50K or hours per week >= 40
result = census_income[(census_income['annual_income'] == '<=50K') | (census_income['hours-per-week'] >= 40)]

# Count the number of people
num_people = result.shape[0]

# Print the result
print(num_people)

31823

In [40]:
census_income.rename(columns={census_income.columns[-1]: 'Annual Income'}, inplace=True)

In [41]:
census_income.dropna(inplace=True)

In [42]:
from sklearn.preprocessing import LabelEncoder

# Instantiate the label encoder
label_encoder = LabelEncoder()

# Apply the encoder to categorical columns
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

for column in categorical_columns:
    census_income[column] = label_encoder.fit_transform(census_income[column])

In [43]:
from sklearn.model_selection import train_test_split

# Split the data (70% for training and 30% for testing)
X = census_income.drop('Annual Income', axis=1)  # Features (exclude 'Annual Income')
y = census_income['Annual Income']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [44]:
from sklearn.linear_model import LogisticRegression

# Instantiate the model
log_reg_model = LogisticRegression(max_iter=1000)

# Train the model
log_reg_model.fit(X_train, y_train)

/home/gautam/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=1000)

In [45]:
# Evaluate the model's accuracy
accuracy = log_reg_model.score(X_test, y_test)

# Print the accuracy score
print("Accuracy Score:", accuracy)

Accuracy Score: 0.7937893689910487

In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

# 1. Rename the last column as "Annual Income"
census_income.rename(columns={census_income.columns[-1]: 'Annual Income'}, inplace=True)

# 2. Remove missing values
census_income.dropna(inplace=True)

# 3. Change categorical data into numerical data using LabelEncoder
label_encoder = LabelEncoder()
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

for column in categorical_columns:
    census_income[column] = label_encoder.fit_transform(census_income[column])

# 4. Split the dataset into train and test (70:30 split)
X = census_income.drop('Annual Income', axis=1)
y = census_income['Annual Income']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# 5. Build the Logistic Regression Model
log_reg_model = LogisticRegression(max_iter=1000)
log_reg_model.fit(X_train, y_train)

# 6. Calculate confusion matrix
y_pred = log_reg_model.predict(X_test)
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

# 7. Calculate Specificity
specificity = tn / (tn + fp)

# Print the specificity
print("Specificity of the model:", specificity)

Specificity of the model: 0.936428149024246

/home/gautam/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [47]:
print("Specificity of the model:", specificity)

Specificity of the model: 0.936428149024246

In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

# 1. Rename the last column as "Annual Income"
census_income.rename(columns={census_income.columns[-1]: 'Annual Income'}, inplace=True)

# 2. Remove missing values
census_income.dropna(inplace=True)

# 3. Change categorical data into numerical data using LabelEncoder
label_encoder = LabelEncoder()
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

for column in categorical_columns:
    census_income[column] = label_encoder.fit_transform(census_income[column])

# 4. Split the dataset into train and test (70:30 split)
X = census_income.drop('Annual Income', axis=1)
y = census_income['Annual Income']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# 5. Build the Logistic Regression Model
log_reg_model = LogisticRegression(max_iter=1000)
log_reg_model.fit(X_train, y_train)

# 6. Calculate confusion matrix
y_pred = log_reg_model.predict(X_test)
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

# 7. Calculate Precision for False target
precision_false_target = tn / (tn + fn)

# Print the precision
print("Precision when the target is False:", precision_false_target)

Precision when the target is False: 0.8151866151866152

/home/gautam/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [49]:
print("Precision when the target is False:", precision_false_target)

Precision when the target is False: 0.8151866151866152

In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# 1. Rename the last column as "Annual Income"
census_income.rename(columns={census_income.columns[-1]: 'Annual Income'}, inplace=True)

# 2. Remove missing values
census_income.dropna(inplace=True)

# 3. Change categorical data into numerical data using LabelEncoder
label_encoder = LabelEncoder()
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

for column in categorical_columns:
    census_income[column] = label_encoder.fit_transform(census_income[column])

# 4. Split the dataset into train and test (70:30 split)
X = census_income.drop('Annual Income', axis=1)
y = census_income['Annual Income']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# 5. Build the Logistic Regression Model
log_reg_model = LogisticRegression(max_iter=1000)
log_reg_model.fit(X_train, y_train)

# 6. Get classification report
report = classification_report(y_test, log_reg_model.predict(X_test), output_dict=True)

# Total support value is the sum of support for both classes (<=50K and >50K)
total_support = report['<=50K']['support'] + report['>50K']['support']

# Print the total support value
print("Total Support value:", total_support)

Total Support value: 9049.0

/home/gautam/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [51]:
print("Total Support value:", total_support)

Total Support value: 9049.0

In [52]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# 1. Rename the last column as "Annual Income"
census_income.rename(columns={census_income.columns[-1]: 'Annual Income'}, inplace=True)

# 2. Remove missing values
census_income.dropna(inplace=True)

# 3. Change categorical data into numerical data using LabelEncoder
label_encoder = LabelEncoder()
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

for column in categorical_columns:
    census_income[column] = label_encoder.fit_transform(census_income[column])

# 4. Split the dataset into train and test (70:30 split)
X = census_income.drop('Annual Income', axis=1)
y = census_income['Annual Income']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# 5. Build the Logistic Regression Model
log_reg_model = LogisticRegression(max_iter=1000)
log_reg_model.fit(X_train, y_train)

# 6. Get classification report
report = classification_report(y_test, log_reg_model.predict(X_test), output_dict=True)

# Check the classification report structure to understand the class labels
print("Classification Report:", report)

# Check the keys in the report to confirm the labels used
print("Keys in Classification Report:", report.keys())

# F1 score for the target class True (i.e., >50K, represented as '>50K' in the dataset)
f1_score_true = report.get('>50K', {}).get('f1-score', 'Not Available')  # Use the correct label

# Print the F1 score for the target True (i.e., >50K)
print("F1 Score for the target True (annual income >50K):", f1_score_true)

/home/gautam/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Classification Report: {'<=50K': {'precision': 0.8151866151866152, 'recall': 0.936428149024246, 'f1-score': 0.8716113939727536, 'support': 6764.0}, '>50K': {'precision': 0.6637998436278343, 'recall': 0.3715536105032823, 'f1-score': 0.4764309764309764, 'support': 2285.0}, 'accuracy': 0.7937893689910487, 'macro avg': {'precision': 0.7394932294072247, 'recall': 0.6539908797637641, 'f1-score': 0.6740211852018649, 'support': 9049.0}, 'weighted avg': {'precision': 0.776959322335271, 'recall': 0.7937893689910487, 'f1-score': 0.7718227704692767, 'support': 9049.0}}
Keys in Classification Report: dict_keys(['<=50K', '>50K', 'accuracy', 'macro avg', 'weighted avg'])
F1 Score for the target True (annual income >50K): 0.4764309764309764

In [53]:
print("F1 Score for the target True (annual income >50K):", f1_score_true)

F1 Score for the target True (annual income >50K): 0.4764309764309764

In [54]:
census_income

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Annual Income
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,<=50K
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,<=50K
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,<=50K
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,<=50K
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,7,12,2,12,5,4,0,0,0,38,38,<=50K
32557,40,2,154374,11,9,2,6,0,4,1,0,0,40,38,>50K
32558,58,2,151910,11,9,6,0,4,4,0,0,0,40,38,<=50K
32559,22,2,201490,11,9,4,0,3,4,1,0,0,20,38,<=50K
32560,52,3,287927,11,9,2,3,5,4,0,15024,0,40,38,>50K

In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 1. Rename the last column as "Annual Income"
census_income.rename(columns={census_income.columns[-1]: 'Annual Income'}, inplace=True)

# 2. Remove missing values
census_income.dropna(inplace=True)

# 3. Change categorical data into numerical data using LabelEncoder
label_encoder = LabelEncoder()
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

for column in categorical_columns:
    census_income[column] = label_encoder.fit_transform(census_income[column])

# 4. Split the dataset into train and test (70:30 split)
X = census_income.drop('Annual Income', axis=1)
y = census_income['Annual Income']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# 5. Build the Logistic Regression Model
log_reg_model = LogisticRegression(max_iter=1000)
log_reg_model.fit(X_train, y_train)

# 6. Predict using the logistic regression model
y_pred = log_reg_model.predict(X_test)

# 7. Calculate the number of correctly classified records
correctly_classified = (y_pred == y_test).sum()

# Print the number of correctly classified records
print("Number of correctly classified records:", correctly_classified)

Number of correctly classified records: 7183

/home/gautam/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [56]:
print("Number of correctly classified records:", correctly_classified)

Number of correctly classified records: 7183

In [57]:
import pandas as pd          # For data manipulation
import numpy as np           # For numerical operations
from sklearn.model_selection import train_test_split  # For splitting dataset
from sklearn.tree import DecisionTreeClassifier      # For decision tree model
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix  # For evaluation
import matplotlib.pyplot as plt

In [58]:
pokemon = pd.read_csv("decision-tree-2/Pokemon.csv")

In [59]:
keys = pokemon.keys()

In [60]:
keys

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [61]:
pokemon_5th_generation = pokemon[pokemon['Generation'] == 5]
count_5th_generation = pokemon_5th_generation.shape[0]
print(count_5th_generation)

165

In [62]:
max_defense = pokemon['Defense'].max()
pokemon_with_max_defense = pokemon[pokemon['Defense'] == max_defense]
count_max_defense = pokemon_with_max_defense.shape[0]
print(count_max_defense)

3

In [63]:
pokemon.fillna(pokemon.median(), inplace=True)

TypeError: Cannot convert [['Bulbasaur' 'Ivysaur' 'Venusaur' ... 'HoopaHoopa Confined'
  'HoopaHoopa Unbound' 'Volcanion']
 ['Grass' 'Grass' 'Grass' ... 'Psychic' 'Psychic' 'Fire']
 ['Poison' 'Poison' 'Poison' ... 'Ghost' 'Dark' 'Water']] to numeric

In [11]:
# Select only numeric columns
numeric_df = pokemon.select_dtypes(include=['number'])

# Compute correlation matrix
correlation_matrix = numeric_df.corr()

# Print correlation with the Generation column
print(correlation_matrix['Generation'])

#             0.982516
Total         0.048384
HP            0.058683
Attack        0.051451
Defense       0.042419
Sp. Atk       0.036437
Sp. Def       0.028486
Speed        -0.023121
Generation    1.000000
Name: Generation, dtype: float64

In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score


# Handle missing values (only for numeric columns)
pokemon.replace('?', np.nan, inplace=True)  # Replace '?' with NaN
numeric_columns = pokemon.select_dtypes(include=['number']).columns
pokemon[numeric_columns] = pokemon[numeric_columns].fillna(pokemon[numeric_columns].median())

# Convert categorical features to numerical using label encoding
categorical_columns = pokemon.select_dtypes(include=['object']).columns
pokemon = pd.get_dummies(pokemon, columns=categorical_columns)

# Prepare features (X) and target (y)
X = pokemon.drop(columns=['Legendary'])  # Replace 'Legendary' with the actual target column
y = pokemon['Legendary']

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Decision Tree model
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

# Predictions
y_pred = clf.predict(X_test)

# Evaluate model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.97

In [16]:
from sklearn.metrics import confusion_matrix, recall_score

In [17]:
pokemon.fillna(pokemon.median(), inplace=True)

# Define features and target variable
X = pokemon.drop(columns=['Legendary'])  # Features
y = pokemon['Legendary']  # Target variable

# Split the dataset into a 70:30 ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Create and train the Decision Tree model
model = DecisionTreeClassifier(random_state=1)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Calculate sensitivity (recall) for the True class
sensitivity = recall_score(y_test, y_pred, pos_label=True)

print(f"Sensitivity (Recall) when the target is True: {sensitivity:.2f}")

# You can then compare the output with the provided options

Sensitivity (Recall) when the target is True: 0.71

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

# Assuming you have already imported your dataset into a pandas DataFrame named 'pokemon'
# Handle missing values (example: fill with median for numerical columns)
pokemon.fillna(pokemon.median(), inplace=True)

# Define features and target variable
X = pokemon.drop(columns=['Legendary'])  # Features
y = pokemon['Legendary']  # Target variable

# Split the dataset into a 70:30 ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Create and train the Decision Tree model
model = DecisionTreeClassifier(random_state=1)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Calculate the number of misclassified instances
misclassified = (y_test != y_pred).sum()

print(f"Number of misclassified instances: {misclassified}")

# You can then compare the output with the provided options

Number of misclassified instances: 11

In [4]:
census = pd.read_csv("/home/gautam/airflow/random-forest-2/census-income.csv")

In [20]:
census.keys()

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Unnamed: 14'],
      dtype='object')

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report

In [23]:
print(census.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country Unnamed: 14
0          2174             0              40  United-States       <=50K
1             0             0              13  United-States       <=50K
2             0             0              40  United-States       <=50K
3             0             0              40  United-States       <=50K
4             0             0              40           Cuba       <=50K

In [27]:
census

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [30]:
# Filter the data where marital status is 'Never-married' and hours-per-week is less than 20
never_married_less_20_hours = census[(census['marital-status'] == 'Never-married') & (census['hours-per-week'] < 20)]

# Get the number of samples
num_samples = len(never_married_less_20_hours)
print(f"Number of samples: {num_samples}")

Number of samples: 907

In [6]:
never_married_less_than_20 = census[(census['marital-status'] == 'Never-married') & (census['hours-per-week'] < 20)]

# Count the number of samples that meet the criteria
count = never_married_less_than_20.shape[0]

print(f"Number of never married individuals working less than 20 hours: {count}")

Number of never married individuals working less than 20 hours: 907

In [8]:
min_age = census['age'].min()
max_age = census['age'].max()
median_age = census['age'].median()

# Create the list
age_stats = [min_age, max_age, median_age]

print(f"Age statistics: {age_stats}")

Age statistics: [np.int64(17), np.int64(90), np.float64(37.0)]

In [9]:
# Count occurrences of each country in the 'native-country' column
country_counts = census['native-country'].value_counts()

# Get the country with the highest and lowest population
highest_population_country = country_counts.idxmax()
lowest_population_country = country_counts.idxmin()

print(f"Country with highest population: {highest_population_country}")
print(f"Country with lowest population: {lowest_population_country}")

Country with highest population: United-States
Country with lowest population: Holand-Netherlands

In [12]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
live = pd.read_csv("/home/gautam/airflow/Live.csv")

In [11]:
live.keys()

Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys', 'Column1', 'Column2', 'Column3',
       'Column4'],
      dtype='object')

In [13]:
# Check for null values in each column
null_columns = live.isnull().sum()

# Count the number of columns with at least one null value
num_null_columns = (null_columns > 0).sum()

print(f"Number of columns with null values: {num_null_columns}")

Number of columns with null values: 4

In [14]:
# Find the number of unique 'status_id' values
num_unique_status_ids = live['status_id'].nunique()

print(f"Number of unique status_ids: {num_unique_status_ids}")

Number of unique status_ids: 6997

In [15]:
# Assuming 'status_type' is the column that indicates the type of post
video_posts_count = live[live['status_type'] == 'video'].shape[0]

print(f"Number of video posts for live selling: {video_posts_count}")

Number of video posts for live selling: 2334

In [16]:
# Convert 'status_published' to datetime format if it's not already
live['status_published'] = pd.to_datetime(live['status_published'], errors='coerce')

# Filter by the specific date and time
specific_post = live[(live['status_published'] == '2018-04-19 22:26:00')]

# Get the number of likes for this post
likes = specific_post['num_likes'].sum()

print(f"Number of likes for the photo posted on 4/19/2018 at 22:26: {likes}")

Number of likes for the photo posted on 4/19/2018 at 22:26: 379

In [17]:
# Convert 'status_published' to datetime format if it's not already
live['status_published'] = pd.to_datetime(live['status_published'], errors='coerce')

# Filter by the specific date and time for video post (assuming the column 'status_type' contains post type)
specific_video_post = live[(live['status_published'] == '2017-07-15 10:52:00') & (live['status_type'] == 'video')]

# Get the total shares for this post
total_shares = specific_video_post['num_shares'].sum()

print(f"Total shares for the video post on 7/15/2017 at 10:52: {total_shares}")

Total shares for the video post on 7/15/2017 at 10:52: 167

In [19]:
# Import required libraries for imputation
from sklearn.impute import SimpleImputer

# Step 1: Handle missing values by imputing with the mean
imputer = SimpleImputer(strategy='mean')
live_imputed = imputer.fit_transform(live)

# Step 2: Standardize the data using Min-Max Scaler
scaler = MinMaxScaler()
live_scaled = scaler.fit_transform(live_imputed)

# Step 3: Create KMeans model for 2 clusters
kmeans = KMeans(n_clusters=2, random_state=42)
kmeans.fit(live_scaled)

# Step 4: Compute the inter-cluster variance (inertia)
inter_cluster_variance = kmeans.inertia_

print(f"Inter-cluster variance: {inter_cluster_variance}")

/home/gautam/.local/lib/python3.10/site-packages/sklearn/impute/_base.py:635: UserWarning: Skipping features without any observed values: ['Column1' 'Column2' 'Column3' 'Column4']. At least one non-missing value is needed for imputation with strategy='mean'.
  warnings.warn(

Inter-cluster variance: 240.0668639726282

In [21]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

NameError: name 'y_test' is not defined

In [20]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
# cm[i, j] represents the number of instances of class i predicted as class j
# The recall for class 6 would be cm[6, 6] / sum(cm[6, :]) (True positives for class 6 / all actual class 6)
recall_class_6 = cm[6, 6] / sum(cm[6, :])
print(f"Recall for class 6: {recall_class_6 * 100}%")

NameError: name 'y_test' is not defined