In [ ]:
orders = open('/home/gautam/airflow/retail_db/orders/part-00000').read().splitlines()

In [ ]:
order_items = open('/home/gautam/airflow/retail_db/order_items/part-00000').read().splitlines()

In [ ]:
categories = open('/home/gautam/airflow/retail_db/categories/part-00000').read().splitlines()

In [ ]:
customers = open('/home/gautam/airflow/retail_db/customers/part-00000').read().splitlines()

In [ ]:
products = open('/home/gautam/airflow/retail_db/products/part-00000').read().splitlines()

In [ ]:
def get_order_bystatus(orders, order_status):
    result = []
    for order in orders:
        status = order.split(',')[-1]
        if status == order_status:
            result.append(order)
    return result

In [ ]:
xyz = get_order_bystatus(orders, 'PENDING')

In [ ]:
xyz

In [ ]:
file_path = "/home/gautam/airflow/itversity-books/status.csv"  # Change this to your desired location

with open(file_path, mode="w") as file:
    file.write(",".join(map(str, xyz)))  # Convert list to CSV format

print(f"CSV file saved at: {file_path}")

In [ ]:
file_path = "/home/gautam/airflow/itversity-books/orders.csv"

with open(file_path, mode="w") as file:
    file.write("\n".join(xyz))  # ✅ Write each item on a new line

print(f"CSV file saved at: {file_path}")

In [ ]:
orders[:10]

In [ ]:
for order in orders:
    date = order.split(',')[1][:7]
    status = order.split(',')[-1]
    if status == 'PENDING' and date == '2013-08':
        print(order)

In [ ]:
import json

file_path = "/home/gautam/airflow/itversity-books/orders_large.json"

data = []  # List to store JSON objects
with open(file_path, "r", encoding="utf-8") as json_file:
    for line in json_file:
        data.append(json.loads(line.strip()))  # Read and parse each line separately

print(f"✅ Loaded {len(data)} records")
print(data[:5])  # Print first 5 records

In [ ]:
data

In [ ]:
for order in data:
    date = order['order_date'][:7]
    status = order['order_status']
    if status == 'CLOSED' and date == '2013-08':
        print(order)

In [ ]:
order23 = []
for order in data:
    id = order['order_id']
    date = order['order_date']
    customer_id = order['order_customer_id']
    status = order['order_status']
    order23.append(f"{id},{date},{customer_id},{status}")

In [ ]:
order23[:10]

In [ ]:
{'order_id': 72, 'order_date': '2013-08-12 00:00:00.0', 'order_customer_id': 17659, 'order_status': 'CLOSED'}

In [ ]:
orders[:10]

In [ ]:
order68 = []
for order in orders:
    part = order.split(',')
    o_id = int(part[0])
    o_date = part[1]
    c_id = int(part[2])
    status = part[-1]
    order68.append({'order_id':o_id,'order_date':o_date,'order_customer_id':c_id,'order_status':status})

In [6]:
import pandas as pd

In [114]:
orders_df = pd.read_csv('/home/gautam/airflow/retail_db/orders/part-00000', names=["order_id", "order_date", "customer_id", "order_status"])

In [115]:
orders_df[:5]

   order_id             order_date  customer_id     order_status
0         1  2013-07-25 00:00:00.0        11599           CLOSED
1         2  2013-07-25 00:00:00.0          256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0        12111         COMPLETE
3         4  2013-07-25 00:00:00.0         8827           CLOSED
4         5  2013-07-25 00:00:00.0        11318         COMPLETE

In [116]:
order_items_df = pd.read_csv('/home/gautam/airflow/retail_db/order_items/part-00000',names=["order_item_id", "order_item_order_id", "order_item_product_id", "order_item_quantity", "order_item_subtotal", "order_item_product_price"])

In [117]:
order_items_df[:5]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99

In [11]:
import json

In [12]:
file_path = '/home/gautam/airflow/retail_db/schemas.json'

In [13]:
with open(file_path, "r") as json_file:
    data = json.load(json_file)
data

{'departments': [{'column_name': 'department_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'department_name',
   'data_type': 'string',
   'column_position': 2}],
 'categories': [{'column_name': 'category_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'category_department_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'category_name',
   'data_type': 'string',
   'column_position': 3}],
 'orders': [{'column_name': 'order_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
  {'column_name': 'order_customer_id',
   'data_type': 'timestamp',
   'column_position': 3},
  {'column_name': 'order_status',
   'data_type': 'string',
   'column_position': 4}],
 'products': [{'column_name': 'product_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'product_cateogry_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'product_name', 'data_type': '', 'column_position': 3},
  {'column_name': 'product_description',
   'data_type': 'string',
   'column_position': 4},
  {'column_name': 'product_price', 'data_type': 'float', 'column_position': 5},
  {'column_name': 'product_image',
   'data_type': 'string',
   'column_position': 6}],
 'customers': [{'column_name': 'customer_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'customer_fname',
   'data_type': 'string',
   'column_position': 2},
  {'column_name': 'customer_lname',
   'data_type': 'string',
   'column_position': 3},
  {'column_name': 'customer_email',
   'data_type': 'string',
   'column_position': 4},
  {'column_name': 'customer_password',
   'data_type': 'string',
   'column_position': 5},
  {'column_name': 'customer_street',
   'data_type': 'string',
   'column_position': 6},
  {'column_name': 'customer_city',
   'data_type': 'string',
   'column_position': 7},
  {'column_name': 'customer_state',
   'data_type': 'string',
   'column_position': 8},
  {'column_name': 'customer_zipcode',
   'data_type': 'integer',
   'column_position': 9}],
 'order_items': [{'column_name': 'order_item_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'order_item_order_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'order_item_product_id',
   'data_type': 'integer',
   'column_position': 3},
  {'column_name': 'order_item_quantity',
   'data_type': 'integer',
   'column_position': 4},
  {'column_name': 'order_item_subtotal',
   'data_type': 'float',
   'column_position': 5},
  {'column_name': 'order_item_product_price',
   'data_type': 'float',
   'column_position': 6}]}

In [14]:
data['orders'][]

SyntaxError: invalid syntax (3518248439.py, line 1)

In [15]:
sorted(ku, key=lambda col: col['column_position'])

NameError: name 'ku' is not defined

In [16]:
ku = data['orders']
sorted_ku = sorted(ku, key=lambda col:col['column_position'])
xyz2 = [k['column_name'] for k in sorted_ku]

In [17]:
xyz2

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [18]:
def get_column_names(ds_name, file_path):
    with open(file_path, "r") as json_file:
        data = json.load(json_file)
    ku = data[ds_name]
    sorted_ku = sorted(ku, key=lambda col:col['column_position'])
    xyz2 = [k['column_name'] for k in sorted_ku] 
    return xyz2

In [19]:
get_column_names('order_items', '/home/gautam/airflow/retail_db/schemas.json')

['order_item_id',
 'order_item_order_id',
 'order_item_product_id',
 'order_item_quantity',
 'order_item_subtotal',
 'order_item_product_price']

In [20]:
schemas_path = '/home/gautam/airflow/retail_db/schemas.json'
src_base_dir = f'/home/gautam/airflow/retail_db/{ds_name)/part-*'
tgt_base_dir = f'/home/gautam/airflow/retail_db2/{ds_name)/part-*'

SyntaxError: f-string: unmatched ')' (3438641265.py, line 2)

In [21]:
import pandas as pd
def create_df(ds_name):
    column_name = get_column_names(ds_name, '/home/gautam/airflow/retail_db/schemas.json')
    file_path = f'/home/gautam/airflow/retail_db/{ds_name}/part-00000'
    df = pd.read_csv(file_path, names=column_name)
    return df

In [22]:
create_df('order_items')

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99
...,...,...,...,...,...,...
172193,172194,68881,403,1,129.99,129.99
172194,172195,68882,365,1,59.99,59.99
172195,172196,68882,502,1,50.00,50.00
172196,172197,68883,208,1,1999.99,1999.99
172197,172198,68883,502,3,150.00,50.00

When we have multiple files.

In [23]:
import json
import glob
import pandas as pd

def get_column_names(ds_name, file_path):
    with open(file_path, "r") as json_file:
        data = json.load(json_file)
    ku = data.get(ds_name, [])  # Avoids KeyError if ds_name is missing
    sorted_ku = sorted(ku, key=lambda col: col['column_position'])
    xyz2 = [k['column_name'] for k in sorted_ku] 
    return xyz2

def create_df(ds_name):
    schema_file = '/home/gautam/airflow/retail_db/schemas.json'
    column_names = get_column_names(ds_name, schema_file)
    
    file_pattern = f'/home/gautam/airflow/retail_db/{ds_name}/part-*'
    files = glob.glob(file_pattern)  # Get list of matching files
    
    if not files:
        raise FileNotFoundError(f"No files found for {file_pattern}")
    
    df = pd.concat([pd.read_csv(file, names=column_names, header=None) for file in files], ignore_index=True)
    
    return df

In [24]:
import glob

In [25]:
glob.glob('/home/gautam/airflow/retail_db/orders/part-*')

['/home/gautam/airflow/retail_db/orders/part-00000']

In [26]:
glob.glob('/home/gautam/airflow/retail_db/*')

['/home/gautam/airflow/retail_db/create_db_tables_pg.sql',
 '/home/gautam/airflow/retail_db/README.md',
 '/home/gautam/airflow/retail_db/schemas.json',
 '/home/gautam/airflow/retail_db/create_db.sql',
 '/home/gautam/airflow/retail_db/order_items',
 '/home/gautam/airflow/retail_db/categories',
 '/home/gautam/airflow/retail_db/customers',
 '/home/gautam/airflow/retail_db/data-engineering-essentials',
 '/home/gautam/airflow/retail_db/departments',
 '/home/gautam/airflow/retail_db/orders',
 '/home/gautam/airflow/retail_db/daily_revenue',
 '/home/gautam/airflow/retail_db/load_db_tables_pg.sql',
 '/home/gautam/airflow/retail_db/products']

In [27]:
import json
import pandas as pd

In [118]:
products_column = get_column_names('products','/home/gautam/airflow/retail_db/schemas.json')
categories_column = get_column_names('categories','/home/gautam/airflow/retail_db/schemas.json')
customer_column = get_column_names('customers','/home/gautam/airflow/retail_db/schemas.json')
departments_column = get_column_names('departments','/home/gautam/airflow/retail_db/schemas.json')

In [119]:
products_df = pd.read_csv('/home/gautam/airflow/retail_db/products/part-00000',names=products_column)
categories_df = pd.read_csv('/home/gautam/airflow/retail_db/categories/part-00000',names=categories_column)
customers_df = pd.read_csv('/home/gautam/airflow/retail_db/customers/part-00000',names=customer_column)
departments_df = pd.read_csv('/home/gautam/airflow/retail_db/departments/part-00000',names=departments_column)

In [30]:
products_df.keys()

Index(['product_id', 'product_cateogry_id', 'product_name',
       'product_description', 'product_price', 'product_image'],
      dtype='object')

In [31]:
orders_df.keys()

Index(['order_id', 'order_date', 'customer_id', 'order_status'], dtype='object')

In [32]:
type(orders_df)

pandas.core.frame.DataFrame

In [33]:
orders_df.dtypes

order_id         int64
order_date      object
customer_id      int64
order_status    object
dtype: object

In [34]:
order_items_df.dtypes

order_item_id                 int64
order_item_order_id           int64
order_item_product_id         int64
order_item_quantity           int64
order_item_subtotal         float64
order_item_product_price    float64
dtype: object

In [35]:
customers_df.dtypes

customer_id           int64
customer_fname       object
customer_lname       object
customer_email       object
customer_password    object
customer_street      object
customer_city        object
customer_state       object
customer_zipcode      int64
dtype: object

In [36]:
orders_df.columns.tolist()

['order_id', 'order_date', 'customer_id', 'order_status']

In [37]:
orders_df.isnull().sum()

order_id        0
order_date      0
customer_id     0
order_status    0
dtype: int64

In [38]:
orders_df['order_status'].unique()

array(['CLOSED', 'PENDING_PAYMENT', 'COMPLETE', 'PROCESSING',
       'PAYMENT_REVIEW', 'PENDING', 'ON_HOLD', 'CANCELED',
       'SUSPECTED_FRAUD'], dtype=object)

In [39]:
orders_df['order_status'].value_counts()

order_status
COMPLETE           22899
PENDING_PAYMENT    15030
PROCESSING          8275
PENDING             7610
CLOSED              7556
ON_HOLD             3798
SUSPECTED_FRAUD     1558
CANCELED            1428
PAYMENT_REVIEW       729
Name: count, dtype: int64

In [40]:
summary = pd.DataFrame({
    'Column Name': orders_df.columns,
    'Data Type': orders_df.dtypes.values,
    'Missing Values': orders_df.isnull().sum().values
})

print(summary)

    Column Name Data Type  Missing Values
0      order_id     int64               0
1    order_date    object               0
2   customer_id     int64               0
3  order_status    object               0

In [41]:
categorical_cols = orders_df.select_dtypes(include=['object']).columns
unique_values = {col: orders_df[col].unique() for col in categorical_cols}
print(unique_values)

{'order_date': array(['2013-07-25 00:00:00.0', '2013-07-26 00:00:00.0',
       '2013-07-27 00:00:00.0', '2013-07-28 00:00:00.0',
       '2013-07-29 00:00:00.0', '2013-07-30 00:00:00.0',
       '2013-07-31 00:00:00.0', '2013-08-01 00:00:00.0',
       '2013-08-02 00:00:00.0', '2013-08-03 00:00:00.0',
       '2013-08-04 00:00:00.0', '2013-08-05 00:00:00.0',
       '2013-08-06 00:00:00.0', '2013-08-07 00:00:00.0',
       '2013-08-08 00:00:00.0', '2013-08-09 00:00:00.0',
       '2013-08-10 00:00:00.0', '2013-08-11 00:00:00.0',
       '2013-08-12 00:00:00.0', '2013-08-13 00:00:00.0',
       '2013-08-14 00:00:00.0', '2013-08-15 00:00:00.0',
       '2013-08-16 00:00:00.0', '2013-08-17 00:00:00.0',
       '2013-08-18 00:00:00.0', '2013-08-19 00:00:00.0',
       '2013-08-20 00:00:00.0', '2013-08-21 00:00:00.0',
       '2013-08-22 00:00:00.0', '2013-08-23 00:00:00.0',
       '2013-08-24 00:00:00.0', '2013-08-25 00:00:00.0',
       '2013-08-26 00:00:00.0', '2013-08-27 00:00:00.0',
       '2013-08-28 00:00:00.0', '2013-08-29 00:00:00.0',
       '2013-08-30 00:00:00.0', '2013-08-31 00:00:00.0',
       '2013-09-01 00:00:00.0', '2013-09-02 00:00:00.0',
       '2013-09-03 00:00:00.0', '2013-09-04 00:00:00.0',
       '2013-09-05 00:00:00.0', '2013-09-06 00:00:00.0',
       '2013-09-07 00:00:00.0', '2013-09-08 00:00:00.0',
       '2013-09-09 00:00:00.0', '2013-09-10 00:00:00.0',
       '2013-09-11 00:00:00.0', '2013-09-12 00:00:00.0',
       '2013-09-13 00:00:00.0', '2013-09-14 00:00:00.0',
       '2013-09-15 00:00:00.0', '2013-09-16 00:00:00.0',
       '2013-09-17 00:00:00.0', '2013-09-18 00:00:00.0',
       '2013-09-19 00:00:00.0', '2013-09-20 00:00:00.0',
       '2013-09-21 00:00:00.0', '2013-09-22 00:00:00.0',
       '2013-09-23 00:00:00.0', '2013-09-24 00:00:00.0',
       '2013-09-25 00:00:00.0', '2013-09-26 00:00:00.0',
       '2013-09-27 00:00:00.0', '2013-09-28 00:00:00.0',
       '2013-09-29 00:00:00.0', '2013-09-30 00:00:00.0',
       '2013-10-01 00:00:00.0', '2013-10-02 00:00:00.0',
       '2013-10-03 00:00:00.0', '2013-10-04 00:00:00.0',
       '2013-10-05 00:00:00.0', '2013-10-06 00:00:00.0',
       '2013-10-07 00:00:00.0', '2013-10-08 00:00:00.0',
       '2013-10-09 00:00:00.0', '2013-10-10 00:00:00.0',
       '2013-10-11 00:00:00.0', '2013-10-12 00:00:00.0',
       '2013-10-13 00:00:00.0', '2013-10-14 00:00:00.0',
       '2013-10-15 00:00:00.0', '2013-10-16 00:00:00.0',
       '2013-10-17 00:00:00.0', '2013-10-18 00:00:00.0',
       '2013-10-19 00:00:00.0', '2013-10-20 00:00:00.0',
       '2013-10-21 00:00:00.0', '2013-10-22 00:00:00.0',
       '2013-10-23 00:00:00.0', '2013-10-24 00:00:00.0',
       '2013-10-25 00:00:00.0', '2013-10-26 00:00:00.0',
       '2013-10-27 00:00:00.0', '2013-10-28 00:00:00.0',
       '2013-10-29 00:00:00.0', '2013-10-30 00:00:00.0',
       '2013-10-31 00:00:00.0', '2013-11-01 00:00:00.0',
       '2013-11-02 00:00:00.0', '2013-11-03 00:00:00.0',
       '2013-11-04 00:00:00.0', '2013-11-05 00:00:00.0',
       '2013-11-06 00:00:00.0', '2013-11-07 00:00:00.0',
       '2013-11-08 00:00:00.0', '2013-11-09 00:00:00.0',
       '2013-11-10 00:00:00.0', '2013-11-11 00:00:00.0',
       '2013-11-12 00:00:00.0', '2013-11-13 00:00:00.0',
       '2013-11-14 00:00:00.0', '2013-11-15 00:00:00.0',
       '2013-11-16 00:00:00.0', '2013-11-17 00:00:00.0',
       '2013-11-18 00:00:00.0', '2013-11-19 00:00:00.0',
       '2013-11-20 00:00:00.0', '2013-11-21 00:00:00.0',
       '2013-11-22 00:00:00.0', '2013-11-23 00:00:00.0',
       '2013-11-24 00:00:00.0', '2013-11-25 00:00:00.0',
       '2013-11-26 00:00:00.0', '2013-11-27 00:00:00.0',
       '2013-11-28 00:00:00.0', '2013-11-29 00:00:00.0',
       '2013-11-30 00:00:00.0', '2013-12-01 00:00:00.0',
       '2013-12-02 00:00:00.0', '2013-12-03 00:00:00.0',
       '2013-12-04 00:00:00.0', '2013-12-05 00:00:00.0',
       '2013-12-06 00:00:00.0', '2013-12-07 00:00:00.0',
       '2013-12-08 00:00:00.0', '2013-12-09 00:00:00.0',
       '2013-12-10 00:00:00.0', '2013-12-11 00:00:00.0',
       '2013-12-12 00:00:00.0', '2013-12-13 00:00:00.0',
       '2013-12-14 00:00:00.0', '2013-12-15 00:00:00.0',
       '2013-12-16 00:00:00.0', '2013-12-17 00:00:00.0',
       '2013-12-18 00:00:00.0', '2013-12-19 00:00:00.0',
       '2013-12-20 00:00:00.0', '2013-12-21 00:00:00.0',
       '2013-12-22 00:00:00.0', '2013-12-23 00:00:00.0',
       '2013-12-24 00:00:00.0', '2013-12-25 00:00:00.0',
       '2013-12-26 00:00:00.0', '2013-12-27 00:00:00.0',
       '2013-12-28 00:00:00.0', '2013-12-29 00:00:00.0',
       '2013-12-30 00:00:00.0', '2013-12-31 00:00:00.0',
       '2014-01-01 00:00:00.0', '2014-01-02 00:00:00.0',
       '2014-01-03 00:00:00.0', '2014-01-04 00:00:00.0',
       '2014-01-05 00:00:00.0', '2014-01-06 00:00:00.0',
       '2014-01-07 00:00:00.0', '2014-01-08 00:00:00.0',
       '2014-01-09 00:00:00.0', '2014-01-10 00:00:00.0',
       '2014-01-11 00:00:00.0', '2014-01-12 00:00:00.0',
       '2014-01-13 00:00:00.0', '2014-01-14 00:00:00.0',
       '2014-01-15 00:00:00.0', '2014-01-16 00:00:00.0',
       '2014-01-17 00:00:00.0', '2014-01-18 00:00:00.0',
       '2014-01-19 00:00:00.0', '2014-01-20 00:00:00.0',
       '2014-01-21 00:00:00.0', '2014-01-22 00:00:00.0',
       '2014-01-23 00:00:00.0', '2014-01-24 00:00:00.0',
       '2014-01-25 00:00:00.0', '2014-01-26 00:00:00.0',
       '2014-01-27 00:00:00.0', '2014-01-28 00:00:00.0',
       '2014-01-29 00:00:00.0', '2014-01-30 00:00:00.0',
       '2014-01-31 00:00:00.0', '2014-02-01 00:00:00.0',
       '2014-02-02 00:00:00.0', '2014-02-03 00:00:00.0',
       '2014-02-04 00:00:00.0', '2014-02-05 00:00:00.0',
       '2014-02-06 00:00:00.0', '2014-02-07 00:00:00.0',
       '2014-02-08 00:00:00.0', '2014-02-09 00:00:00.0',
       '2014-02-10 00:00:00.0', '2014-02-11 00:00:00.0',
       '2014-02-12 00:00:00.0', '2014-02-13 00:00:00.0',
       '2014-02-14 00:00:00.0', '2014-02-15 00:00:00.0',
       '2014-02-16 00:00:00.0', '2014-02-17 00:00:00.0',
       '2014-02-18 00:00:00.0', '2014-02-19 00:00:00.0',
       '2014-02-20 00:00:00.0', '2014-02-21 00:00:00.0',
       '2014-02-22 00:00:00.0', '2014-02-23 00:00:00.0',
       '2014-02-24 00:00:00.0', '2014-02-25 00:00:00.0',
       '2014-02-26 00:00:00.0', '2014-02-27 00:00:00.0',
       '2014-02-28 00:00:00.0', '2014-03-01 00:00:00.0',
       '2014-03-02 00:00:00.0', '2014-03-03 00:00:00.0',
       '2014-03-04 00:00:00.0', '2014-03-05 00:00:00.0',
       '2014-03-06 00:00:00.0', '2014-03-07 00:00:00.0',
       '2014-03-08 00:00:00.0', '2014-03-10 00:00:00.0',
       '2014-03-11 00:00:00.0', '2014-03-12 00:00:00.0',
       '2014-03-13 00:00:00.0', '2014-03-14 00:00:00.0',
       '2014-03-15 00:00:00.0', '2014-03-16 00:00:00.0',
       '2014-03-17 00:00:00.0', '2014-03-18 00:00:00.0',
       '2014-03-19 00:00:00.0', '2014-03-20 00:00:00.0',
       '2014-03-21 00:00:00.0', '2014-03-22 00:00:00.0',
       '2014-03-23 00:00:00.0', '2014-03-24 00:00:00.0',
       '2014-03-25 00:00:00.0', '2014-03-26 00:00:00.0',
       '2014-03-27 00:00:00.0', '2014-03-28 00:00:00.0',
       '2014-03-29 00:00:00.0', '2014-03-30 00:00:00.0',
       '2014-03-31 00:00:00.0', '2014-04-01 00:00:00.0',
       '2014-04-02 00:00:00.0', '2014-04-03 00:00:00.0',
       '2014-04-04 00:00:00.0', '2014-04-05 00:00:00.0',
       '2014-04-06 00:00:00.0', '2014-04-07 00:00:00.0',
       '2014-04-08 00:00:00.0', '2014-04-09 00:00:00.0',
       '2014-04-10 00:00:00.0', '2014-04-11 00:00:00.0',
       '2014-04-12 00:00:00.0', '2014-04-13 00:00:00.0',
       '2014-04-14 00:00:00.0', '2014-04-15 00:00:00.0',
       '2014-04-16 00:00:00.0', '2014-04-17 00:00:00.0',
       '2014-04-18 00:00:00.0', '2014-04-19 00:00:00.0',
       '2014-04-20 00:00:00.0', '2014-04-21 00:00:00.0',
       '2014-04-22 00:00:00.0', '2014-04-23 00:00:00.0',
       '2014-04-24 00:00:00.0', '2014-04-25 00:00:00.0',
       '2014-04-26 00:00:00.0', '2014-04-27 00:00:00.0',
       '2014-04-28 00:00:00.0', '2014-04-29 00:00:00.0',
       '2014-04-30 00:00:00.0', '2014-05-01 00:00:00.0',
       '2014-05-02 00:00:00.0', '2014-05-03 00:00:00.0',
       '2014-05-04 00:00:00.0', '2014-05-05 00:00:00.0',
       '2014-05-06 00:00:00.0', '2014-05-07 00:00:00.0',
       '2014-05-08 00:00:00.0', '2014-05-09 00:00:00.0',
       '2014-05-10 00:00:00.0', '2014-05-11 00:00:00.0',
       '2014-05-12 00:00:00.0', '2014-05-13 00:00:00.0',
       '2014-05-14 00:00:00.0', '2014-05-15 00:00:00.0',
       '2014-05-16 00:00:00.0', '2014-05-17 00:00:00.0',
       '2014-05-18 00:00:00.0', '2014-05-19 00:00:00.0',
       '2014-05-20 00:00:00.0', '2014-05-21 00:00:00.0',
       '2014-05-22 00:00:00.0', '2014-05-23 00:00:00.0',
       '2014-05-24 00:00:00.0', '2014-05-25 00:00:00.0',
       '2014-05-26 00:00:00.0', '2014-05-27 00:00:00.0',
       '2014-05-28 00:00:00.0', '2014-05-29 00:00:00.0',
       '2014-05-30 00:00:00.0', '2014-05-31 00:00:00.0',
       '2014-06-01 00:00:00.0', '2014-06-02 00:00:00.0',
       '2014-06-03 00:00:00.0', '2014-06-04 00:00:00.0',
       '2014-06-05 00:00:00.0', '2014-06-06 00:00:00.0',
       '2014-06-07 00:00:00.0', '2014-06-08 00:00:00.0',
       '2014-06-09 00:00:00.0', '2014-06-10 00:00:00.0',
       '2014-06-11 00:00:00.0', '2014-06-12 00:00:00.0',
       '2014-06-13 00:00:00.0', '2014-06-14 00:00:00.0',
       '2014-06-15 00:00:00.0', '2014-06-16 00:00:00.0',
       '2014-06-17 00:00:00.0', '2014-06-18 00:00:00.0',
       '2014-06-19 00:00:00.0', '2014-06-20 00:00:00.0',
       '2014-06-21 00:00:00.0', '2014-06-22 00:00:00.0',
       '2014-06-23 00:00:00.0', '2014-06-24 00:00:00.0',
       '2014-06-25 00:00:00.0', '2014-06-26 00:00:00.0',
       '2014-06-27 00:00:00.0', '2014-06-28 00:00:00.0',
       '2014-06-29 00:00:00.0', '2014-06-30 00:00:00.0',
       '2014-07-01 00:00:00.0', '2014-07-02 00:00:00.0',
       '2014-07-03 00:00:00.0', '2014-07-04 00:00:00.0',
       '2014-07-05 00:00:00.0', '2014-07-06 00:00:00.0',
       '2014-07-07 00:00:00.0', '2014-07-08 00:00:00.0',
       '2014-07-09 00:00:00.0', '2014-07-10 00:00:00.0',
       '2014-07-11 00:00:00.0', '2014-07-12 00:00:00.0',
       '2014-07-13 00:00:00.0', '2014-07-14 00:00:00.0',
       '2014-07-15 00:00:00.0', '2014-07-16 00:00:00.0',
       '2014-07-17 00:00:00.0', '2014-07-18 00:00:00.0',
       '2014-07-19 00:00:00.0', '2014-07-20 00:00:00.0',
       '2014-07-21 00:00:00.0', '2014-07-22 00:00:00.0',
       '2014-07-23 00:00:00.0', '2014-07-24 00:00:00.0'], dtype=object), 'order_status': array(['CLOSED', 'PENDING_PAYMENT', 'COMPLETE', 'PROCESSING',
       'PAYMENT_REVIEW', 'PENDING', 'ON_HOLD', 'CANCELED',
       'SUSPECTED_FRAUD'], dtype=object)}

In [42]:
orders_df[:5]

   order_id             order_date  customer_id     order_status
0         1  2013-07-25 00:00:00.0        11599           CLOSED
1         2  2013-07-25 00:00:00.0          256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0        12111         COMPLETE
3         4  2013-07-25 00:00:00.0         8827           CLOSED
4         5  2013-07-25 00:00:00.0        11318         COMPLETE

In [43]:
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'])

In [44]:
filtered_orders = orders_df[(orders_df['order_date'].dt.year == 2013) & (orders_df['order_date'].dt.month == 7)]

In [45]:
filtered_orders

       order_id order_date  customer_id     order_status
0             1 2013-07-25        11599           CLOSED
1             2 2013-07-25          256  PENDING_PAYMENT
2             3 2013-07-25        12111         COMPLETE
3             4 2013-07-25         8827           CLOSED
4             5 2013-07-25        11318         COMPLETE
...         ...        ...          ...              ...
68691     68692 2013-07-26        11868         COMPLETE
68692     68693 2013-07-27          228  PENDING_PAYMENT
68693     68694 2013-07-29         2441         COMPLETE
68694     68695 2013-07-30         3918       PROCESSING
68695     68696 2013-07-31         5155         COMPLETE

[1533 rows x 4 columns]

Find all orders where the status is ‘COMPLETE’.

In [47]:
orders_df[orders_df['order_status'] == "COMPLETE"]

       order_id order_date  customer_id order_status
2             3 2013-07-25        12111     COMPLETE
4             5 2013-07-25        11318     COMPLETE
5             6 2013-07-25         7130     COMPLETE
6             7 2013-07-25         4530     COMPLETE
14           15 2013-07-25         2568     COMPLETE
...         ...        ...          ...          ...
68875     68876 2014-07-06         4124     COMPLETE
68877     68878 2014-07-08         6753     COMPLETE
68878     68879 2014-07-09          778     COMPLETE
68879     68880 2014-07-13         1117     COMPLETE
68882     68883 2014-07-23         5533     COMPLETE

[22899 rows x 4 columns]

Get orders placed by a specific customer (e.g., customer_id = 256).

In [48]:
orders_df[orders_df['customer_id'] == 256]

       order_id order_date  customer_id     order_status
1             2 2013-07-25          256  PENDING_PAYMENT
9466       9467 2013-09-22          256           CLOSED
13036     13037 2013-10-13          256  PENDING_PAYMENT
23970     23971 2013-12-21          256          PENDING
24393     24394 2013-12-23          256  PENDING_PAYMENT
26160     26161 2014-01-03          256           CLOSED
32780     32781 2014-02-12          256          PENDING
35842     35843 2014-03-02          256          PENDING
50803     50804 2014-06-08          256       PROCESSING
52892     52893 2014-06-23          256         COMPLETE

Find all products in a specific category.

In [50]:
products_df[:5]

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...

In [51]:
categorical_cols = products_df.select_dtypes(include=['object']).columns
unique_values = {col: products_df[col].unique() for col in categorical_cols}
print(unique_values)

{'product_name': array(['Quest Q64 10 FT. x 10 FT. Slant Leg Instant U',
       "Under Armour Men's Highlight MC Football Clea",
       "Under Armour Men's Renegade D Mid Football Cl",
       'Riddell Youth Revolution Speed Custom Footbal',
       "Jordan Men's VI Retro TD Football Cleat",
       'Schutt Youth Recruit Hybrid Custom Football H',
       "Nike Men's Vapor Carbon Elite TD Football Cle",
       'Nike Adult Vapor Jet 3.0 Receiver Gloves',
       'Fitness Gear 300 lb Olympic Weight Set',
       "Under Armour Men's Highlight MC Alter Ego Fla",
       'Quik Shade Summit SX170 10 FT. x 10 FT. Canop',
       "Under Armour Kids' Highlight RM Alter Ego Sup",
       'Riddell Youth 360 Custom Football Helmet',
       "Reebok Men's Full Zip Training Jacket",
       "Nike Men's Fingertrap Max Training Shoe",
       "Under Armour Kids' Highlight RM Football Clea",
       'Kijaro Dual Lock Chair',
       "Under Armour Men's Highlight MC Alter Ego Hul",
       'Elevation Training Mask 2.0',
       "Nike Men's USA White Home Stadium Soccer Jers",
       'Nike Youth USA Away Stadium Replica Soccer Je',
       'adidas Brazuca 2014 Top Glider Soccer Ball',
       "Nike Men's USA Away Stadium Replica Soccer Je",
       "adidas Men's Germany Home Soccer Jersey", 'Nike+ Fuelband SE',
       "PUMA Men's evoPOWER 1 Tricks FG Soccer Cleat",
       'adidas Brazuca 2014 Top Repliqué Soccer Ball',
       'Nike Women\'s Pro Core 3" Compression Shorts',
       'adidas Brazuca 2014 Official Match Ball',
       "adidas Men's Germany Black/Red Away Match Soc",
       "adidas Kids' F5 Messi FG Soccer Cleat",
       "Nike Men's Hypervenom Phantom Premium FG Socc",
       "Nike Women's Pro Victory Compression Bra",
       "adidas Men's Mexico Home Soccer Jersey",
       "adidas Kids' F10 Messi TRX FG Soccer Cleat",
       "adidas Men's F10 Messi TRX FG Soccer Cleat",
       "adidas Men's F10 Messi FG Soccer Cleat",
       "Quest 12' x 12' Dome Canopy",
       "Nike Women's Pro Hyperwarm Fitted Tights",
       'adidas Brazuca Final Rio Official Match Ball',
       'Diamondback Adult Sorrento Mountain Bike 2014',
       'MAC Sports Collapsible Wagon', 'Easton Mako Youth Bat 2014 (-11)',
       'Fitbit Flex Wireless Activity & Sleep Wristba',
       "Diamondback Boys' Insight 24 Performance Hybr",
       'SOLE E25 Elliptical',
       "Diamondback Girls' Clarity 24 Hybrid Bike 201",
       'Easton XL1 Youth Bat 2014 (-10)', 'SOLE F85 Treadmill',
       'Diamondback Adult Outlook Mountain Bike 2014',
       'Easton S1 Youth Bat 2014 (-12)',
       'Diamondback Adult Response XE Mountain Bike 2',
       'Goaliath 54" In-Ground Basketball Hoop with P',
       "Nike Kids' Grade School KD VI Basketball Shoe",
       "Nike Men's KD VI Basketball Shoe",
       "Nike Kids' Grade School LeBron XI Basketball ",
       'Nike Elite Crew Basketball Sock',
       "Nike Men's LeBron XI Basketball Shoe",
       "Quest Q100 10' X 10' Dome Canopy",
       "Nike Men's LeBron XI Low Basketball Shoe",
       "Under Armour Men's Tech II T-Shirt",
       'Fitness Gear Pro Utility Bench', 'Nike Hoops Elite Team Backpack',
       'Teeter Hang Ups NXT-S Inversion Table', 'SKLZ Sport-Brella XL',
       "E-Z Up Vista 12' x 12' Recreational Instant S",
       "Under Armour Men's Ignite Camo II Slide",
       'McDavid HEX Extended Leg Sleeves',
       'Kijaro XXL Dual Lock Oversized Chair',
       "Nike Women's Pro Hyperwarm Half Zip Long Slee",
       "Nike Men's Alpha Pro D Mid Football Cleat",
       "Nike Men's Fly Shorts 2.0",
       "Under Armour Men's Highlight RM Football Clea",
       "Nike Men's Comfort 2 Slide", 'YETI Tundra 65 Chest Cooler',
       "Quest 12' x 12' Screen House", 'Quest Oversized Arm Chair',
       'Nike Hyper Elite Crew Basketball Sock',
       'Stiga Master Series ST3100 Competition Indoor',
       'Under Armour Hustle Backpack',
       "Nike Women's Legend V-Neck T-Shirt",
       'Nike Dri-FIT Crew Sock 6 Pack',
       "Under Armour Boys' Match Play Golf Polo",
       'Garmin Forerunner 220 GPS Watch',
       "Reebok Women's Performance Essentials Printed",
       "adidas Women's Tiro 13 Soccer Pants",
       "Under Armour Men's Ignite III Slide",
       "Nike Women's Pro Printed Sports Bra",
       'Nike Women\'s 3" Pro Compression Shorts',
       "Nike Women's Tempo Shorts",
       "Brooks Women's Adrenaline GTS 13 Running Shoe",
       'Lifetime Freestyle XL Stand-Up Paddle Board',
       "Top Flite Women's XL 12-Piece Complete Set - ",
       "Nike Men's Free 5.0+ Running Shoe",
       'GoPro HERO3+ Black Edition Camera',
       "Rollerblade Men's Spark 84 Inline Skate",
       'Diamondback Adult Wildwood Citi Classic Comfo',
       'Diamondback Adult Edgewood Hybrid Bike 2014',
       "Rollerblade Women's Spark 84 Inline Skates",
       'SOLE E35 Elliptical', 'Quest 15 FT Trampoline Enclosure Combo',
       'Thule Trailway 4-Bike Hitch Vehicle Rack',
       'Diamondback Grind BMX Bike 2014',
       'Exerpeutic 900XL Magnetic Recumbent Bike with',
       "Diamondback Women's Vital 2 Hybrid Bike 2014",
       'Garmin vivofit Fitness Band with HRM',
       'Yakima DoubleDown Ace Hitch Mount 4-Bike Rack',
       'Fitness Gear Pro Olympic Bench', 'Fitness Gear Pro Half Rack',
       'Teeter Hang-Ups EP-970 Limited Inversion Tabl',
       'PowerBlock Classic 50 lb Adjustable Dumbbell ',
       'Marcy Pro Circuit Trainer', 'Bowflex SelectTech 1090 Dumbbells',
       "Reebok Men's CrossFit Nano 3.0 Training Shoe",
       'Fitness Gear Olympic Bench', 'Marcy Diamond 9010 Smith Cage',
       'BOSU Balance Trainer', "Nike Men's Romaleos 2 Weightlifting Shoe",
       "adidas Men's Powerlift 2 Training Shoe",
       'Core Fitness 5 - 50 lb Adjustable Dumbbells -',
       'Fitness Gear Pro Core Bench',
       'Under Armour Hustle Storm Medium Duffle Bag',
       'PowerBlock 24 lb Adjustable Dumbbell Set',
       "Fitness Gear 7' Olympic Bar", 'Fitness Gear Heavy Bag Stand',
       "Reebok Women's CrossFit Nano 2.0 Training Sho",
       'Stamina Air Rower', "Nike Women's Free 4.0 Running Shoe",
       "Under Armour Women's Micro G Skulpt Running S",
       "Under Armour Women's Play Up Shorts",
       "Brooks Women's Ghost 6 Running Shoe",
       "Nike Women's Free 5.0+ Running Shoe",
       "ASICS Women's GEL-Noosa Tri 9 Running Shoe",
       "Under Armour Women's Tech T-Shirt",
       "Nike Women's Free 5.0 TR FIT PRT 4 Training S",
       "ASICS Women's GEL-Nimbus 15 Running Shoe",
       "ASICS Women's GEL-Cumulus 15 Running Shoe",
       'Everlast PowerCore 2 Station Stand and Bag Ki',
       "Under Armour Kids' Ignite III Slide",
       "Under Armour Women's Ignite VI Slide",
       "Under Armour Kids' Mercenary Slide",
       "Nike Men's Benassi Swoosh Slide",
       "Under Armour Girls' UA Ignite VI Slide",
       "Under Armour Women's Ignite Slide",
       "Under Armour Women's Ignite VI Camo Slide",
       "Under Armour Men's Compression EV SL Slide",
       "Nike Men's Air LeBron 3 Elite Slide",
       "Under Armour Women's Ignite PIP VI Slide",
       "Under Armour Men's Mercenary Slide",
       "Garmin Women's Forerunner 10 GPS Watch",
       'Garmin Forerunner 10 GPS Watch',
       'Fitbit The One Wireless Activity & Sleep Trac',
       'Nike+ Sportwatch GPS Powered by TomTom with S',
       'Garmin vivofit Fitness Band',
       'Garmin Forerunner 15 GPS Watch with HRM',
       'Jawbone UP24 Activity Tracker',
       'Garmin Forerunner 620 GPS Watch with Heart Ra',
       'Garmin Forerunner 15 GPS Watch',
       'Nike+ Sportwatch GPS Powered by TomTom',
       'Garmin Forerunner 910XT GPS Watch',
       'Garmin Forerunner 220 GPS Watch with Premium ',
       'Mio ALPHA Heart Rate Monitor/Sport Watch',
       'Polar FT4 Heart Rate Monitor', 'Garmin Forerunner 910XT with HRM',
       'Fitbit Zip Wireless Activity Tracker',
       'Fitbit Aria Wi-Fi Smart Scale',
       'Beats by Dr. Dre Solo2 Headphones', 'Polar Loop Activity Tracker',
       'TomTom Multi-Sport Cardio + Cycle GPS Watch w',
       "Under Armour Women's Seamless Essential Sport",
       "Nike Women's Studio Wrap", "Nike Women's Legend Tight Capris 2.0",
       "Nike Women's Legend Regular Capris 2.0",
       "Nike Women's Printed Studio Wrap",
       "Under Armour Women's Seamless Advantage Sport",
       "Under Armour Women's HeatGear Sonic Printed C",
       'Manduka PRO Yoga Mat',
       "Reebok Women's Fitness Essentials Regular Fit",
       "Nike Women's Studio Wrap Three-Part Pack",
       "Under Armour Women's Achieve T-Back Tank Top",
       "Reebok Women's Fitness Essential Slim Fit Cap",
       "lucy Women's Hatha Capri Leggings",
       'Mission Enduracool Instant Cooling Towel',
       "Reebok Women's Performance Regular Motion Fit",
       "Under Armour Women's Perfect Flowy Tank Top",
       "Under Armour Women's Essential Banded Tank To",
       "Nike Women's Dri-FIT Cotton Tight Capris",
       "The North Face Women's Be Calm Tank Top",
       "Under Armour Women's Pure Stretch Sheer Cheek",
       "lucy Women's Heart Center Tank Top",
       "Nike Women's Dri-FIT Cotton Regular-Fit Capri",
       'Nike Swoosh Headband - 2"', "PRIMED 12' x 6' Instant Soccer Goal",
       "SKLZ Quickster 12' x 6' Portable Soccer Goal",
       'adidas Brazuca Final Rio Top Glider Soccer Ba',
       "Franklin 12' x 6' Competition Steel Soccer Go",
       'Jugs Complete Practice Travel Screen',
       "Nike Men's Free Trainer 5.0 Training Shoe",
       "PRIMED 7' x 5' Soccer Trainer",
       "Reebok Women's Solid Classic Tank Swimsuit",
       "Nike Men's Free TR 5.0 TB Training Shoe", 'Bowflex Uppercut',
       'Perfect Fitness Perfect Ab Strap Pro', 'Total Gym 1100',
       'Total Gym 1400', 'Perfect Fitness Perfect Rip Deck',
       'Gazelle Supreme Glider', 'Gazelle Edge Pro Glider',
       'Pink BOSU Balance Trainer', 'BOSU Ballast Ball',
       'Kettleglove Unisex Kettleball Gloves', 'Total Gym 1900',
       'Perfect Ab Carver Pro', 'Perfect Fitness Multi Gym Pro',
       'Perfect Pushup BASIC', "Gold's Gym K10 7-in-1 Body Building Kit",
       'Perfect Pushup V2 Performance', 'Perfect Pullup Basic',
       'AB Roller Evolution', 'Perfect Multi-Gym - As Seen on TV!',
       "Under Armour Men's Highlight MC Alter Ego Cap",
       "Nike Men's CJ Elite 2 TD Football Cleat",
       "Nike Men's Free 5.0 Running Shoe",
       "Brooks Men's Adrenaline GTS 13 Running Shoe",
       "Nike Men's Air Max 2014 Running Shoe",
       "Nike Men's Mercurial Victory IV FG Soccer Cle",
       "Nike Women's Air Pegasus+ 30 Running Shoe",
       "Nike Women's Downshifter 5 Running Shoe",
       "Nike Women's LunarGlide+ 5 Running Shoe",
       "Nike Women's Free TR Connect 2 Training Shoe",
       "Nike Women's Zoom Fly Running Shoe",
       "Mizuno Women's Wave Inspire 9 Running Shoe",
       "Under Armour Kids' Highlight RM Alter Ego Cap",
       "Under Armour Kids' Highlight RM Alter Ego Bat",
       "Under Armour Kids' Highlight RM Alter Ego Fla",
       "Nike Kids' Vapor Strike 4 Mid TD Football Cle",
       "Under Armour Kids' Highlight RM Alter Ego Hul",
       "Under Armour Kids' C1N MC Football Cleat",
       "adidas Kids' RG III Mid Football Cleat",
       'Reebok All Sport Athletic Sock',
       'Coleman River Gorge 6 Person Dome Tent',
       "Slazenger Women's Ava Sleeveless Fashion Golf",
       "Nike Men's Dri-FIT Victory Golf Polo",
       "Nike Men's Flat Front Tech Golf Shorts",
       'Callaway X Hot Laser Rangefinder',
       "adidas Men's Ultimate Short Sleeve Shirt",
       "Nike Men's Dri-FIT Flat Front Tech Golf Pants",
       "Lady Hagen Women's Milan Golf Polo",
       "Lotto Men's Zhero Gravity V 700 TF Soccer Cle",
       "adidas Men's 2014 All-Star Game Tactile Hunte",
       "adidas Men's 2014 MLS All-Star Game Dueling T",
       "adidas Men's 2014 MLS All-Star Game Cross Bla",
       "adidas Original Men's 2014 MLS All-Star Game ",
       "adidas Men's 2014 MLS All-Star Game Rose City",
       "adidas Men's 2014 MLS All-Star Game Crest Gre",
       "adidas Women's 2014 MLS All-Star Game Dueling",
       "adidas Men's 2014 MLS All-Star Game Replica B",
       "adidas Men's 2014 MLS All-Star Game Lumber Hu",
       "adidas Men's 2014 MLS All-Star Game Axis Hunt",
       "adidas Men's Germany 2014 FIFA World Cup Braz",
       "Nike Men's Deutschland Weltmeister Winners Bl",
       'adidas Youth Germany Black/Red Away Match Soc',
       "adidas Men's Germany Black Crest Away Tee",
       'adidas Youth Germany Black Crest Tee',
       "adidas Men's Germany Home Replica White Top",
       "TYR Boys' Venom Blade Splice Jammer",
       "TYR Boys' Team Digi Jammer",
       "TYR Girls' Phoenix Maxfit Back Swimsuit",
       "TYR Girls' Palisade Maxfit Back Swimsuit",
       'Bushnell 2014 Tour V3 Patriot Pack Laser Rang',
       'Garmin Approach S3 Golf GPS Watch', 'Garmin Approach G6 Golf GPS',
       'GolfBuddy Voice GPS',
       'Primos Truth Cam Supercharged Blackout 7 MP G',
       'Nike Vapor Crew Football Sock',
       "Nike Women's Pro Padded Sports Bra",
       "Under Armour Men's Performance Chino Straight",
       "Nike Kids' Toddler Air KD VII Basketball Shoe",
       "adidas Men's Energy Boost Icon Metal Baseball",
       'adidas Batting Helmet Hardware Kit',
       "Nike Men's Kobe IX Elite Low Basketball Shoe",
       "Nike Men's KD VII Basketball Shoe",
       "Under Armour Girls' Toddler Spine Surge Runni",
       'Under Armour Elevate 22 oz. Leak-Proof Water ',
       "ASICS Men's GEL-Blast 6 Volleyball Shoe",
       'Nike Lunarwaverly Golf Shoes',
       'Nike Lunar Mount Royal Golf Shoes',
       "Columbia Men's PFG Terminal Elements Marlin T",
       "Columbia Men's PFG Fear the Moray T-Shirt",
       "Columbia Men's PFG Master Caster T-Shirt",
       "Columbia Men's PFG Anchor Tough T-Shirt",
       'Nike Lunar Cypress Golf Shoes',
       "Roxy Women's Steamer Long Sleeve Rash Guard",
       "Merrell Women's Grassbow Sport Hiking Shoe",
       "Merrell Women's Siren Mid Waterproof Hiking B",
       "Merrell Men's Chameleon Prime Stretch Realtre",
       "Merrell Men's Chameleon Prime Stretch Hiking ",
       "Merrell Women's Grassbow Sport Waterproof Hik",
       "Merrell Men's Moab Rover Waterproof Wide Hiki",
       "Merrell Women's Azura Wide Hiking Shoe",
       "Merrell Women's Azura Hiking Shoe",
       "Merrell Men's Moab Rover Waterproof Hiking Sh",
       "Merrell Men's Moab Rover Mid Waterproof Wide ",
       "Merrell Men's Moab Rover Mid Waterproof Hikin",
       "Merrell Men's All Out Flash Trail Running Sho",
       "Merrell Women's All Out Flash Trail Running S",
       'Cleveland Golf My Custom Wedge 588 Forged RTX',
       'Cleveland Golf Elite My Custom Wedge 588 Forg',
       'Cleveland Golf Collegiate My Custom Wedge 588', 'PING G30 Driver',
       'PING G30 Fairway Wood', 'PING G30 Hybrid',
       'PING G30 Irons - (Steel) 4-UW',
       'PING G30 Irons - (Graphite) 4-UW',
       'TaylorMade White Smoke IN-12 Putter',
       'TaylorMade White Smoke MC-72 Putter',
       'Tour Edge Exotics CB Pro S Forged Wedge',
       'Boccieri Golf EL C2-M Counterbalance Putter',
       'Boccieri Golf EL L3-M Counterbalance Putter',
       'PING Scottsdale TR Anser 2B Counterbalance Pu',
       'TaylorMade SLDR Irons - (Steel) 4-PW, AW',
       'MDGolf Texas Longhorns Putter',
       'MDGolf Alabama Crimson Tide Putter',
       'Tour Edge XCG7 Irons - (Steel) 4-PW',
       'Tour Edge XCG7 Irons - (Graphite) 4-PW',
       'Tour Edge XCG7 X-LITE Hybrid/Irons - (Graphit',
       'MDGolf Pittsburgh Penguins Putter',
       'MDGolf Philadelphia Flyers Putter',
       "Callaway Women's Solaire Gems 20-Piece Comple",
       "Wilson Women's Profile Petite 11-Piece Comple",
       "Tour Edge Women's Moda Silk 18-Piece Complete",
       "Cleveland Women's 588 Altitude Hybrid/Irons -",
       "Top Flite Women's 2014 XL Driver",
       "Top Flite Women's 2014 XL Fairway",
       "Top Flite Women's Tour Black PVD Wedge",
       "Top Flite Women's 2014 XL Hybrid",
       "Cobra Women's AMP CELL-S Irons - (Graphite) 5",
       "Cleveland Golf Women's 588 RTX CB Satin Chrom",
       "Top Flite Women's 2014 1.0 Blade Putter",
       "Top Flite Women's 2014 2.0 Mallet Putter",
       "Adams Golf Women's Idea Tech V4 Hybrid/Iron S",
       "Top Flite Women's Aero Adjustable Driver - Gr",
       "Top Flite Women's Aero Adjustable Driver - Pi",
       "Top Flite Women's Aero Fairway", "Top Flite Women's Aero Hybrid",
       "TaylorMade Women's RBZ SL Driver",
       "TaylorMade Women's RBZ SL Fairway",
       "TaylorMade Women's RBZ SL Rescue",
       "TaylorMade Women's RBZ SL Irons - (Graphite) ",
       "LIJA Women's Eyelet Golf Skort", "LIJA Women's Golf Beanie",
       "LIJA Women's Golf Hat", "LIJA Women's Golf Visor",
       "LIJA Women's Mid-Length Panel Golf Shorts",
       "LIJA Women's Button Golf Dress",
       "LIJA Women's Ace Sleeveless Golf Polo",
       "LIJA Women's Long Sleeve Golf Quarter-Zip Pul",
       "LIJA Women's Eyelet Sleeveless Golf Polo",
       "LIJA Women's Open Neck Print Golf Polo",
       "LIJA Women's Argyle Golf Polo",
       "LIJA Women's Mandarin Sleeveless Golf Polo",
       "LILJA Women's Ace Golf Polo",
       "Nike Women's Lunar Empress Golf Shoes",
       "Black Clover Men's Premium Clover Mesh Back G",
       "Black Clover Men's Premium Clover Fitted Golf",
       "Black Clover Men's Premium Clover Flex Fit Go",
       "Sport Haley Women's Embossed Golf Polo",
       'Nike TW 14 Mesh Golf Shoes', 'FootJoy GreenJoys Golf Shoes',
       'Ogio Race Golf Shoes', 'Ogio City Spiked Golf Shoes',
       'Ogio City Turf Golf Shoes', 'Ogio Sport Golf Shoes',
       'TRUE linkswear Lyt Dry Golf Shoes',
       'TRUE linkswear Vegas Golf Shoes', 'PING Golf Shoe Bag',
       'Club Glove Burst Proof with Wheels II Travel ',
       'Club Glove Last Bag',
       'Callaway 2014 Limited-Edition Hyper-Lite 5 St',
       'Titleist Club Glove Travel Cover', 'Clicgear Rovic Wheel Cover',
       'Clicgear Rovic Cart Seat', 'Clicgear Rovic Cooler Bag',
       'Clicgear Rovic Shoe Brush', 'Titleist Small Wheeled Travel Cover',
       'Clicgear 8.0 Pack Sack', 'Clicgear 8.0 Shoe Brush',
       'Bag Boy C3 Push Cart', 'Bag Boy M330 Push Cart',
       'Bag Boy Beverage Holder', 'Bag Boy Cart Seat',
       'Bag Boy Express DLX Pro Push Cart',
       'TaylorMade Performance Travel Cover', 'Maxfli Tour Travel Cover',
       'Titleist 2014 Lightweight Stand Bag',
       'Bag Boy Hybrid Pivot Grip Travel Cover',
       'PING 2014 Hoofer 14 Stand Bag',
       'TaylorMade 2014 Purelite Stand Bag',
       'Nike 2014 Air Sport Stand Bag', 'Titleist 2014 14-Way Stand Bag',
       "TaylorMade Men's Burner LTD Golf Glove",
       "FootJoy Men's StaCool Golf Glove",
       "Hirzl Women's Trust Feel Golf Glove",
       "Hirzl Men's Hybrid Golf Glove", "Hirzl Women's Hybrid Golf Glove",
       "Hirzl Women's Trust Control Golf Glove",
       "Hirzl Men's Soffft Flex Golf Glove",
       "Callaway Women's X-Tech Golf Glove - White/Pi",
       "Hirzl Women's Soffft Flex Golf Glove",
       "Glove It Women's Urban Brick Golf Glove",
       "Glove It Women's Versailles Golf Glove",
       "Glove It Women's Navy Clear Dot Golf Glove",
       "Glove It Women's Pink Clear Dot Golf Glove",
       "Glove It Women's Olive Bling Golf Glove",
       "Glove It Women's Silver Bling Golf Glove",
       "Glove It Women's Imperial Golf Glove",
       "Glove It Women's Red Clear Dot Golf Glove",
       "Glove It Women's Violet Bling Golf Glove",
       "Glove It Women's Hot Pink Bling Golf Glove",
       "Glove It Women's Calypso Golf Glove",
       "Glove It Women's 19th Hole Golf Glove",
       "Glove It Women's Mod Oval Golf Glove",
       "Glove It Women's Silver Willow Golf Glove",
       "Glove It Women's Trellis Golf Glove",
       'Callaway HX Practice Golf Balls - 18 Pack',
       'Callaway HX Practice Golf Balls - 9 Pack',

In [52]:
products_df[:10]

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...
5,6,2,Jordan Men's VI Retro TD Football Cleat,NaN,134.99,http://images.acmesports.sports/Jordan+Men%27s...
6,7,2,Schutt Youth Recruit Hybrid Custom Football H,NaN,99.99,http://images.acmesports.sports/Schutt+Youth+R...
7,8,2,Nike Men's Vapor Carbon Elite TD Football Cle,NaN,129.99,http://images.acmesports.sports/Nike+Men%27s+V...
8,9,2,Nike Adult Vapor Jet 3.0 Receiver Gloves,NaN,50.00,http://images.acmesports.sports/Nike+Adult+Vap...
9,10,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...

In [56]:
products_df['product_cateogry_id'].unique()

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 38, 15, 16, 17, 18,
       19, 20, 21, 22, 24, 25, 26, 27, 41, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55,
       56, 57, 58, 59])

In [57]:
products_df[products_df['product_cateogry_id'] == 13]

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image
264,265,13,Elevation Training Mask 2.0,NaN,79.99,http://images.acmesports.sports/Elevation+Trai...
265,266,13,Under Armour Men's Ignite Camo II Slide,NaN,34.99,http://images.acmesports.sports/Under+Armour+M...
266,267,13,Nike Men's Comfort 2 Slide,NaN,44.99,http://images.acmesports.sports/Nike+Men%27s+C...
267,268,13,Everlast PowerCore 2 Station Stand and Bag Ki,NaN,199.99,http://images.acmesports.sports/Everlast+Power...
268,269,13,Under Armour Men's Ignite III Slide,NaN,34.99,http://images.acmesports.sports/Under+Armour+M...
269,270,13,Nike Men's Comfort 2 Slide,NaN,44.99,http://images.acmesports.sports/Nike+Men%27s+C...
270,271,13,Under Armour Kids' Ignite III Slide,NaN,27.99,http://images.acmesports.sports/Under+Armour+K...
271,272,13,Under Armour Women's Ignite VI Slide,NaN,31.99,http://images.acmesports.sports/Under+Armour+W...
272,273,13,Under Armour Kids' Mercenary Slide,NaN,27.99,http://images.acmesports.sports/Under+Armour+K...
273,274,13,Nike Men's Benassi Swoosh Slide,NaN,21.99,http://images.acmesports.sports/Nike+Men%27s+B...
274,275,13,Under Armour Girls' UA Ignite VI Slide,NaN,27.99,http://images.acmesports.sports/Under+Armour+G...
275,276,13,Under Armour Women's Ignite Slide,NaN,31.99,http://images.acmesports.sports/Under+Armour+W...
276,277,13,Under Armour Women's Ignite VI Camo Slide,NaN,34.99,http://images.acmesports.sports/Under+Armour+W...
277,278,13,Under Armour Men's Compression EV SL Slide,NaN,44.99,http://images.acmesports.sports/Under+Armour+M...
278,279,13,Nike Men's Air LeBron 3 Elite Slide,NaN,69.99,http://images.acmesports.sports/Nike+Men%27s+A...
279,280,13,Under Armour Hustle Storm Medium Duffle Bag,NaN,34.99,http://images.acmesports.sports/Under+Armour+H...
280,281,13,Fitness Gear Heavy Bag Stand,NaN,99.99,http://images.acmesports.sports/Fitness+Gear+H...
281,282,13,Under Armour Women's Ignite PIP VI Slide,NaN,31.99,http://images.acmesports.sports/Under+Armour+W...
282,283,13,Under Armour Kids' Mercenary Slide,NaN,27.99,http://images.acmesports.sports/Under+Armour+K...
283,284,13,Under Armour Women's Ignite VI Slide,NaN,31.99,http://images.acmesports.sports/Under+Armour+W...
284,285,13,Under Armour Men's Mercenary Slide,NaN,34.99,http://images.acmesports.sports/Under+Armour+M...
285,286,13,Under Armour Men's Ignite III Slide,NaN,34.99,http://images.acmesports.sports/Under+Armour+M...
286,287,13,Nike Men's Comfort 2 Slide,NaN,44.99,http://images.acmesports.sports/Nike+Men%27s+C...
287,288,13,Nike Men's Air LeBron 3 Elite Slide,NaN,69.99,http://images.acmesports.sports/Nike+Men%27s+A...

Sort orders by order date in descending order.

In [58]:
orders_df.sort_values(by='order_date', ascending=False)

       order_id order_date  customer_id     order_status
57750     57751 2014-07-24         2621           CLOSED
57627     57628 2014-07-24         6463           CLOSED
57636     57637 2014-07-24         2989  PENDING_PAYMENT
57635     57636 2014-07-24         1211          PENDING
57634     57635 2014-07-24        10211         COMPLETE
...         ...        ...          ...              ...
57786     57787 2013-07-25        12294  PENDING_PAYMENT
57787     57788 2013-07-25         5711         COMPLETE
57788     57789 2013-07-25         5293         COMPLETE
92           93 2013-07-25         2256  PENDING_PAYMENT
0             1 2013-07-25        11599           CLOSED

[68883 rows x 4 columns]

In [59]:
Rank customers based on their total spending.

SyntaxError: invalid syntax (1177261827.py, line 1)

In [60]:
order_items_df[:10]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99
5,6,4,365,5,299.95,59.99
6,7,4,502,3,150.00,50.00
7,8,4,1014,4,199.92,49.98
8,9,5,957,1,299.98,299.98
9,10,5,365,5,299.95,59.99

In [63]:
order_items_df.keys()

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price'],
      dtype='object')

In [67]:
orders_df.keys()

Index(['order_id', 'order_date', 'customer_id', 'order_status'], dtype='object')

In [72]:
merged_df = order_items_df.merge(orders_df, left_on='order_item_order_id', right_on='order_id')
merged_df[:5]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price,order_id,order_date,customer_id,order_status
0,1,1,957,1,299.98,299.98,1,2013-07-25,11599,CLOSED
1,2,2,1073,1,199.99,199.99,2,2013-07-25,256,PENDING_PAYMENT
2,3,2,502,5,250.00,50.00,2,2013-07-25,256,PENDING_PAYMENT
3,4,2,403,1,129.99,129.99,2,2013-07-25,256,PENDING_PAYMENT
4,5,4,897,2,49.98,24.99,4,2013-07-25,8827,CLOSED

In [80]:
customer_spending = merged_df.groupby('customer_id')['order_item_subtotal'].sum().reset_index()
customer_spending[:10]

   customer_id  order_item_subtotal
0            1               499.95
1            2              1819.73
2            3              3537.68
3            4              1719.63
4            5              1274.75
5            6              3259.51
6            7              5569.48
7            8              3763.50
8            9              3229.68
9           10              1264.79

In [70]:
customer_spending['rank'] = customer_spending['order_item_subtotal'].rank(method='dense', ascending=False)

In [71]:
customer_spending = customer_spending.sort_values(by='rank')
customer_spending[:10]

      customer_id  order_item_subtotal  rank
782           791             10524.17   1.0
9295         9371              9299.03   2.0
8694         8766              9296.14   3.0
1636         1657              9223.71   4.0
2612         2641              9130.92   5.0
1271         1288              9019.11   6.0
3672         3710              9019.10   7.0
4209         4249              8918.85   8.0
5603         5654              8904.95   9.0
5573         5624              8761.98  10.0

Merge orders and customers to get order details with customer names.

In [78]:
customers_df[:5]

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725

In [82]:
merge_oc = customers_df.merge(orders_df, left_on='customer_id', right_on='customer_id', how='inner')
merge_oc[:10]

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode,order_id,order_date,order_status
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521,22945,2013-12-13,COMPLETE
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,15192,2013-10-29,PENDING_PAYMENT
2,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,33865,2014-02-18,COMPLETE
3,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,57963,2013-08-02,ON_HOLD
4,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,67863,2013-11-30,COMPLETE
5,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725,22646,2013-12-11,COMPLETE
6,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725,23662,2013-12-19,COMPLETE
7,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725,35158,2014-02-26,COMPLETE
8,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725,46399,2014-05-09,PROCESSING
9,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725,56178,2014-07-15,PENDING

In [83]:
merge_oc.keys()

Index(['customer_id', 'customer_fname', 'customer_lname', 'customer_email',
       'customer_password', 'customer_street', 'customer_city',
       'customer_state', 'customer_zipcode', 'order_id', 'order_date',
       'order_status'],
      dtype='object')

In [84]:
filtered_df = merge_oc[['customer_fname', 'customer_email', 'order_id', 'order_status']]

In [93]:
filtered_df[(filtered_df['customer_fname'] == 'Ann') & (filtered_df['order_status'] == 'COMPLETE')]

      customer_fname customer_email  order_id order_status
5                Ann      XXXXXXXXX     22646     COMPLETE
6                Ann      XXXXXXXXX     23662     COMPLETE
7                Ann      XXXXXXXXX     35158     COMPLETE
10               Ann      XXXXXXXXX     57617     COMPLETE
11               Ann      XXXXXXXXX     61453     COMPLETE
...              ...            ...       ...          ...
64825            Ann      XXXXXXXXX     21601     COMPLETE
65906            Ann      XXXXXXXXX     12619     COMPLETE
67657            Ann      XXXXXXXXX     40908     COMPLETE
67661            Ann      XXXXXXXXX     56683     COMPLETE
67662            Ann      XXXXXXXXX     67401     COMPLETE

[61 rows x 4 columns]

In [94]:
products_df.keys()

Index(['product_id', 'product_cateogry_id', 'product_name',
       'product_description', 'product_price', 'product_image'],
      dtype='object')

In [95]:
order_items_df.keys()

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price'],
      dtype='object')

In [ ]:
merge_po = products_df.merge(order_items_df, left_on='product_id', right_on='order_item_product_id', how='inner' )

In [100]:
merge_po[:10]

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,144776,57864,19,1,124.99,124.99
1,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,145164,58018,19,1,124.99,124.99
2,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,146401,58491,19,1,124.99,124.99
3,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,146472,58522,19,1,124.99,124.99
4,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,146941,58707,19,1,124.99,124.99
5,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,148259,59238,19,1,124.99,124.99
6,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,148666,59384,19,1,124.99,124.99
7,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,149085,59565,19,1,124.99,124.99
8,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,149189,59610,19,1,124.99,124.99
9,19,2,Nike Men's Fingertrap Max Training Shoe,NaN,124.99,http://images.acmesports.sports/Nike+Men%27s+F...,149652,59791,19,1,124.99,124.99

In [103]:
import pandas as pd

# Sample Products DataFrame
products_df = pd.DataFrame({
    'product_id': [1, 2, 3, 4, 5],
    'product_name': ['Laptop', 'Phone', 'Tablet', 'Monitor', 'Mouse'],
    'price': [1000, 500, 300, 200, 50]
})

# Sample Order Items DataFrame
order_items_df = pd.DataFrame({
    'order_item_id': [101, 102, 103, 104, 105],
    'order_item_product_id': [3, 1, 2, 3, 2],  # Order is different
    'order_item_quantity': [4, 2, 1, 5, 3]
})

# ✅ Inner Join
merged_df = products_df.merge(order_items_df, left_on='product_id', right_on='order_item_product_id', how='inner')

# Drop duplicate column
merged_df.drop(columns=['order_item_product_id'], inplace=True)

print(merged_df)

   product_id product_name  price  order_item_id  order_item_quantity
0           1       Laptop   1000            102                    2
1           2        Phone    500            103                    1
2           2        Phone    500            105                    3
3           3       Tablet    300            101                    4
4           3       Tablet    300            104                    5

In [ ]:
import pandas as pd

# Sample Products DataFrame
products_df = pd.DataFrame({
    'product_id': [1, 2, 3, 4, 5],
    'product_name': ['Laptop', 'Phone', 'Tablet', 'Monitor', 'Mouse'],
    'price': [1000, 500, 300, 200, 50]
})

# Sample Order Items DataFrame
order_items_df = pd.DataFrame({
    'order_item_id': [101, 102, 103, 104, 105],
    'order_item_product_id': [3, 1, 2, 6, 2],  # Product ID 6 does not exist in products_df
    'order_item_quantity': [4, 2, 1, 5, 3]
})

# ✅ Perform an Outer Join
merged_df = products_df.merge(order_items_df, left_on='product_id', right_on='order_item_product_id', how='outer')

print(merged_df)

   product_id product_name   price  order_item_id  order_item_product_id  \
0         1.0       Laptop  1000.0          102.0                    1.0
1         2.0        Phone   500.0          103.0                    2.0
2         2.0        Phone   500.0          105.0                    2.0
3         3.0       Tablet   300.0          101.0                    3.0
4         4.0      Monitor   200.0            NaN                    NaN
5         5.0        Mouse    50.0            NaN                    NaN
6         NaN          NaN     NaN          104.0                    6.0

   order_item_quantity
0                  2.0
1                  1.0
2                  3.0
3                  4.0
4                  NaN
5                  NaN
6                  5.0

In [105]:
merged_df

,product_id,product_name,price,order_item_id,order_item_product_id,order_item_quantity
0,1.0,Laptop,1000.0,102.0,1.0,2.0
1,2.0,Phone,500.0,103.0,2.0,1.0
2,2.0,Phone,500.0,105.0,2.0,3.0
3,3.0,Tablet,300.0,101.0,3.0,4.0
4,4.0,Monitor,200.0,NaN,NaN,NaN
5,5.0,Mouse,50.0,NaN,NaN,NaN
6,NaN,NaN,NaN,104.0,6.0,5.0

In [106]:
Get full order details (orders + customers + order_items + products).

SyntaxError: invalid syntax (3444448320.py, line 1)

In [110]:
customers_df[:5]

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725

In [120]:
merge_oc = orders_df.merge(customers_df, left_on='customer_id', right_on='customer_id', how='outer')

In [124]:
products_df.keys()

Index(['product_id', 'product_cateogry_id', 'product_name',
       'product_description', 'product_price', 'product_image'],
      dtype='object')

In [126]:
merge_oip = products_df.merge(order_items_df, left_on='product_id', right_on='order_item_product_id', how='outer')

In [128]:
merge_oc.keys()

Index(['order_id', 'order_date', 'customer_id', 'order_status',
       'customer_fname', 'customer_lname', 'customer_email',
       'customer_password', 'customer_street', 'customer_city',
       'customer_state', 'customer_zipcode'],
      dtype='object')

In [129]:
merge_oip.keys()

Index(['product_id', 'product_cateogry_id', 'product_name',
       'product_description', 'product_price', 'product_image',
       'order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price'],
      dtype='object')

In [130]:
merge_ocoip = merge_oc.merge(merge_oip, left_on='order_id', right_on='order_item_order_id', how='outer')

In [131]:
merge_ocoip[:5]

,order_id,order_date,customer_id,order_status,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,...,product_name,product_description,product_price,product_image,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1.0,2013-07-25 00:00:00.0,11599,CLOSED,Mary,Malone,XXXXXXXXX,XXXXXXXXX,8708 Indian Horse Highway,Hickory,...,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...,1.0,1.0,957.0,1.0,299.98,299.98
1,2.0,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,David,Rodriguez,XXXXXXXXX,XXXXXXXXX,7605 Tawny Horse Falls,Chicago,...,Nike Men's CJ Elite 2 TD Football Cleat,NaN,129.99,http://images.acmesports.sports/Nike+Men%27s+C...,4.0,2.0,403.0,1.0,129.99,129.99
2,2.0,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,David,Rodriguez,XXXXXXXXX,XXXXXXXXX,7605 Tawny Horse Falls,Chicago,...,Nike Men's Dri-FIT Victory Golf Polo,NaN,50.00,http://images.acmesports.sports/Nike+Men%27s+D...,3.0,2.0,502.0,5.0,250.00,50.00
3,2.0,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,David,Rodriguez,XXXXXXXXX,XXXXXXXXX,7605 Tawny Horse Falls,Chicago,...,Pelican Sunstream 100 Kayak,NaN,199.99,http://images.acmesports.sports/Pelican+Sunstr...,2.0,2.0,1073.0,1.0,199.99,199.99
4,3.0,2013-07-25 00:00:00.0,12111,COMPLETE,Amber,Franco,XXXXXXXXX,XXXXXXXXX,8766 Clear Prairie Line,Santa Cruz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
merge_ocoip.isnull().sum()

order_id                     37350
order_date                   37350
customer_id                      0
order_status                 37350
customer_fname                   0
customer_lname                   0
customer_email                   0
customer_password                0
customer_street                  0
customer_city                    0
customer_state                   0
customer_zipcode                 0
product_id                   11452
product_cateogry_id          11452
product_name                 11452
product_description         221000
product_price                11452
product_image                11452
order_item_id                48802
order_item_order_id          48802
order_item_product_id        48802
order_item_quantity          48802
order_item_subtotal          48802
order_item_product_price     48802
dtype: int64

Find the total revenue per order.

In [135]:
orders_df[:5]

   order_id             order_date  customer_id     order_status
0         1  2013-07-25 00:00:00.0        11599           CLOSED
1         2  2013-07-25 00:00:00.0          256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0        12111         COMPLETE
3         4  2013-07-25 00:00:00.0         8827           CLOSED
4         5  2013-07-25 00:00:00.0        11318         COMPLETE

In [136]:
order_items_df[:5]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99

In [138]:
order_items_df.keys()

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price'],
      dtype='object')

In [140]:
merged_ooi = orders_df.merge(order_items_df, left_on='order_id',right_on='order_item_order_id', how='inner')

In [141]:
total_revenue = merged_ooi.groupby('order_id')['order_item_subtotal'].sum().reset_index()

In [143]:
total_revenue.rename(columns={'order_item_subtotal': 'total_revenue'}, inplace=True)

In [144]:
total_revenue[:10]

   order_id  total_revenue
0         1         299.98
1         2         579.98
2         4         699.85
3         5        1129.86
4         7         579.92
5         8         729.84
6         9         599.96
7        10         651.92
8        11         919.79
9        12        1299.87

In [145]:
Calculate total revenue per customer.

SyntaxError: invalid syntax (1418386002.py, line 1)

In [146]:
merged_ooi[:10]

,order_id,order_date,customer_id,order_status,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,2013-07-25 00:00:00.0,11599,CLOSED,1,1,957,1,299.98,299.98
1,2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,2,2,1073,1,199.99,199.99
2,2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,3,2,502,5,250.00,50.00
3,2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT,4,2,403,1,129.99,129.99
4,4,2013-07-25 00:00:00.0,8827,CLOSED,5,4,897,2,49.98,24.99
5,4,2013-07-25 00:00:00.0,8827,CLOSED,6,4,365,5,299.95,59.99
6,4,2013-07-25 00:00:00.0,8827,CLOSED,7,4,502,3,150.00,50.00
7,4,2013-07-25 00:00:00.0,8827,CLOSED,8,4,1014,4,199.92,49.98
8,5,2013-07-25 00:00:00.0,11318,COMPLETE,9,5,957,1,299.98,299.98
9,5,2013-07-25 00:00:00.0,11318,COMPLETE,10,5,365,5,299.95,59.99

In [149]:
merged_ooi.groupby('customer_id')['order_item_subtotal'].sum().reset_index()

       customer_id  order_item_subtotal
0                1               499.95
1                2              1819.73
2                3              3537.68
3                4              1719.63
4                5              1274.75
...            ...                  ...
12326        12431              8073.15
12327        12432              5234.20
12328        12433              1409.79
12329        12434              3084.78
12330        12435              1329.84

[12331 rows x 2 columns]

In [150]:
merged_ooi.keys()

Index(['order_id', 'order_date', 'customer_id', 'order_status',
       'order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price'],
      dtype='object')

In [152]:
products_df.keys()

Index(['product_id', 'product_cateogry_id', 'product_name',
       'product_description', 'product_price', 'product_image'],
      dtype='object')

In [154]:
order_items_df.keys()

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price'],
      dtype='object')

In [155]:
merged_oip = order_items_df.merge(products_df, left_on='order_item_product_id', right_on='product_id', how='inner')

In [161]:
quantity_df = merged_oip.groupby('product_name')['order_item_quantity'].sum().reset_index()

In [162]:
quantity_df = quantity_df.sort_values(by='order_item_quantity', ascending=False)
quantity_df[:10]

                                     product_name  order_item_quantity
60               Perfect Fitness Perfect Rip Deck                73698
48           Nike Men's Dri-FIT Victory Golf Polo                62956
56               O'Brien Men's Neoprene Life Vest                57803
50              Nike Men's Free 5.0+ Running Shoe                36680
85  Under Armour Girls' Toddler Spine Surge Runni                31735
45        Nike Men's CJ Elite 2 TD Football Cleat                22246
18      Field & Stream Sportsman 16 Gun Fire Safe                17325
59                    Pelican Sunstream 100 Kayak                15500
15  Diamondback Women's Serene Classic Comfort Bi                13729
16                       ENO Atlas Hammock Straps                  998

In [163]:
Create a new column total_price (quantity × price) in order_items_df.

SyntaxError: invalid character '×' (U+00D7) (2806724576.py, line 1)

In [ ]:
order_items_df['total'] = order_items_df['order_item_quantity'] * order_items_df['order_item_product_price']

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99
5,6,4,365,5,299.95,59.99
6,7,4,502,3,150.00,50.00
7,8,4,1014,4,199.92,49.98
8,9,5,957,1,299.98,299.98
9,10,5,365,5,299.95,59.99

In [166]:
order_items_df['total'] = order_items_df['order_item_quantity'] * order_items_df['order_item_product_price']

In [167]:
order_items_df[:10]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price,total
0,1,1,957,1,299.98,299.98,299.98
1,2,2,1073,1,199.99,199.99,199.99
2,3,2,502,5,250.00,50.00,250.00
3,4,2,403,1,129.99,129.99,129.99
4,5,4,897,2,49.98,24.99,49.98
5,6,4,365,5,299.95,59.99,299.95
6,7,4,502,3,150.00,50.00,150.00
7,8,4,1014,4,199.92,49.98,199.92
8,9,5,957,1,299.98,299.98,299.98
9,10,5,365,5,299.95,59.99,299.95

In [168]:
Add a column discounted_price in products_df (apply a 10% discount).

SyntaxError: invalid syntax (4171097628.py, line 1)

In [169]:
order_items_df.keys()

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price', 'total'],
      dtype='object')

In [171]:
products_df['discounted_price'] = products_df['product_price'] * 0.9

products_df[:10]

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image,discounted_price
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...,53.982
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...,116.991
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...,80.991
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...,80.991
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...,179.991
5,6,2,Jordan Men's VI Retro TD Football Cleat,NaN,134.99,http://images.acmesports.sports/Jordan+Men%27s...,121.491
6,7,2,Schutt Youth Recruit Hybrid Custom Football H,NaN,99.99,http://images.acmesports.sports/Schutt+Youth+R...,89.991
7,8,2,Nike Men's Vapor Carbon Elite TD Football Cle,NaN,129.99,http://images.acmesports.sports/Nike+Men%27s+V...,116.991
8,9,2,Nike Adult Vapor Jet 3.0 Receiver Gloves,NaN,50.00,http://images.acmesports.sports/Nike+Adult+Vap...,45.000
9,10,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...,116.991

In [172]:
orders_df.keys()

Index(['order_id', 'order_date', 'customer_id', 'order_status'], dtype='object')

In [ ]:
order_items_df.keys()

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price', 'total'],
      dtype='object')

In [174]:
# ✅ Merge orders_df with order_items_df on order_id
merged_df = orders_df.merge(order_items_df, left_on='order_id', right_on='order_item_order_id')

# ✅ Create Pivot Table: Total Revenue per Order Status
pivot_table = merged_df.pivot_table(values='order_item_subtotal', index='order_status', aggfunc='sum')

# ✅ Rename column for clarity
pivot_table.rename(columns={'order_item_subtotal': 'total_revenue'}, inplace=True)

pivot_table[:10]

                 total_revenue
order_status
CANCELED             696030.99
CLOSED              3736048.79
COMPLETE           11276933.69
ON_HOLD             1864731.24
PAYMENT_REVIEW       357841.45
PENDING             3851881.28
PENDING_PAYMENT     7581671.05
PROCESSING          4190636.76
SUSPECTED_FRAUD      766844.68

In [175]:
# ✅ Merge orders_df and order_items_df
merged_df = orders_df.merge(order_items_df, left_on='order_id', right_on='order_item_order_id')

# ✅ Calculate total revenue per customer
customer_spending = merged_df.groupby('customer_id')['order_item_subtotal'].sum().reset_index()

# ✅ Count total orders per customer
customer_orders = merged_df.groupby('customer_id')['order_id'].nunique().reset_index()

# ✅ Merge both DataFrames to get spending and order count together
customer_metrics = customer_spending.merge(customer_orders, on='customer_id')

# ✅ Calculate Average Order Value (AOV)
customer_metrics['average_order_value'] = customer_metrics['order_item_subtotal'] / customer_metrics['order_id']

# ✅ Rename columns for clarity
customer_metrics.rename(columns={'order_item_subtotal': 'total_spending', 'order_id': 'total_orders'}, inplace=True)

customer_metrics[:10]

   customer_id  total_spending  total_orders  average_order_value
0            1          499.95             1           499.950000
1            2         1819.73             4           454.932500
2            3         3537.68             5           707.536000
3            4         1719.63             4           429.907500
4            5         1274.75             3           424.916667
5            6         3259.51             4           814.877500
6            7         5569.48             7           795.640000
7            8         3763.50             8           470.437500
8            9         3229.68             5           645.936000
9           10         1264.79             2           632.395000

Method	            Use Case	                                Code
Drop NaN rows	    Remove rows with missing data	        df.dropna()
Drop NaN columns	Remove columns with missing data	    df.dropna(axis=1)
Fill with mean	    Best for numerical columns	            df.fillna(df.mean())
Fill with median	Best for skewed numerical data	        df.fillna(df.median())
Fill with mode	    Best for categorical columns	        df.fillna(df.mode()[0])
Forward fill	    Use previous row’s value	            df.fillna(method='ffill')
Backward fill	    Use next row’s value	                df.fillna(method='bfill')
Fill with default	Replace NaN with fixed values	        df.fillna({'col1': 0, 'col2': 'Unknown'})
Replace specific	Replace NaN based on conditions	        df.replace(-999, np.nan)